static/js/main.af03fe09.chunk.js.map
{"version":3,"sources":["store.js","Node.jsx","Control.jsx","parser.js","actions.js","editor.js","DagreD3React.js","Graph.js","JSONDisplay.js","Homepage.js","App.js","serviceWorker.js","index.js"],"names":["initialState","editor_graph","d3_graph","nodes","edges","states_language_graph","Object","objectSpread2","graph","States","states_language_graph_editor","graph_loaded","start_at","StartAt","comment","Comment","store","createStore","state","action","new_state","type","MyNode","_Node","classCallCheck","this","possibleConstructorReturn","getPrototypeOf","apply","arguments","inherits","createClass","key","value","_this$props","props","node","bindSocket","bindControl","_this$state","outputs","controls","inputs","selected","react_default","a","createElement","className","concat","name","map","input","react_render_plugin_esm","socket","io","innerRef","showControl","control","output","Node","TextControl","emitter","_this","default_value","length","undefined","readonly","call","component","initial","data","onChange","v","setValue","trigger","placeholder","val","putData","update","Rete","Control","_ref","TextField","label","ref","addEventListener","e","stopPropagation","target","variant","IntegerControl","_this2","_ref3","BooleanControl","_this3","_ref5","checked","states_language_editor","id","graph_list","res","reduce","acc","toString","get_editor_data","Type","start","connections","transition_event","position","create_edge_nodes","Catch","cat","source","get_node_by_name","Next","editor_edge_node","ErrorEquals","join","Choices","ch","StringEquals","TransitionEvent","event","push","next","get_editor_data_task","get_editor_data_choice","get_editor_data_wait","resource","Resource","input_path","InputPath","output_path","OutputPath","resource_path","ResourcePath","is_end","End","seconds","Seconds","seconds_path","SecondsPath","timestamp","Timestamp","timestamp_path","TimestampPath","to_states_language","get_states_language_state","get_sl_task","get_sl_wait","get_sl_choice","get_transition_event","t_e","catches","get_catches","choices","get_choices","choice","parseInt","filter","edge","is_catch_event","is_choice_event","find","is_trans_event","keys","graph_states","endsWith","graph_edges","flatMap","get_node_edges","to_d3_nodes","state_nodes","i","c","target_id","get_event_name","get_node_outputs","to_d3_edges","get_node_index","editor_states_language","n","state_edges","editor_d3","errors","events","split","trim","findIndex","SET_D3_GRAPH","SET_STATES_LANGUAGE_GRAPH","SET_STATES_LANGUAGE_GRAPH_EDITOR","SET_GRAPH_LOADED","SET_START_AT","SET_COMMENT","doSetD3Graph","doSetStatesLanguageGraph","doSetGraphLoaded","transition_socket","Socket","catch_socket","choice_socket","next_socket","TaskComponent","inp","Input","te","Output","ce","editor","addInput","addOutput","addControl","Component","ChoiceComponent","WaitComponent","TransitionEventComponent","out","ctrl","CatchEventComponent","ChoiceEventComponent","init","container","components","regenerator_default","async","_context2","prev","abrupt","NodeEditor","use","ConnectionPlugin","ReactRenderPlugin","ContextMenuPlugin","AreaPlugin","MinimapPlugin","AutoArrangePlugin","margin","x","y","depth","register","on","_context","toJSON","dispatch","stop","fromJSON","setTimeout","view","resize","zoomAt","DagreD3","nodeTree","nodeTreeGroup","width","height","onClick","useEffect","g","dagreD3","Graph","multigraph","setGraph","forEach","st","setNode","link","setEdge","rx","ry","svg","d3","inner","zoom","attr","transform","render","scale","selectAll","elem","classList","remove","add","r","useSelector","DagreD3React","JSONDisplay","_useState","useState","_useState2","slicedToArray","display","set_display","Button","color","autoComplete","autoCorrect","autoCapitalize","spellCheck","cols","rows","JSON","stringify","obj","parse","console","log","useStyles","makeStyles","theme","root","toolbar","paddingRight","toolbarIcon","alignItems","justifyContent","padding","mixins","appBar","zIndex","drawer","transition","transitions","create","easing","sharp","duration","leavingScreen","appBarShift","marginLeft","enteringScreen","menuButton","marginRight","menuButtonHidden","title","flexGrow","drawerPaper","whiteSpace","drawerPaperClose","defineProperty","overflowX","spacing","breakpoints","up","appBarSpacer","content","overflow","paddingTop","paddingBottom","paper","flexDirection","fixedHeight","Homepage","classes","fixedHeightPaper","clsx","CssBaseline","AppBar","Toolbar","Typography","noWrap","IconButton","Container","maxWidth","Grid","item","xs","md","lg","Paper","el","src_Graph","src_JSONDisplay","history","createBrowserHistory","App","react_router","path","Boolean","window","location","hostname","match","navigator","serviceWorker","ready","then","registration","unregister","ReactDOM","es","src_App","document","getElementById"],"mappings":"iOAGMA,EAAe,CACnBC,aAAc,GACdC,SAAU,CAAEC,MAAO,GAAIC,MAAO,IAC9BC,sBAAsBC,OAAAC,EAAA,EAAAD,CAAA,GAAKE,EAAMC,QACjCC,6BAA6BJ,OAAAC,EAAA,EAAAD,CAAA,GAAME,EAAMC,QACzCE,cAAc,EACdC,SAAUJ,EAAMK,SAAW,GAC3BC,QAASN,EAAMO,SAAW,IA8B5B,IAEeC,EAFHC,YA3BZ,SAAqBC,EAAOC,GAC1B,IAAIC,EAASd,OAAAC,EAAA,EAAAD,CAAA,GAAQY,GACrB,OAAQC,EAAOE,MACb,IAAK,eACHD,EAAUlB,SAAVI,OAAAC,EAAA,EAAAD,CAAA,GAAyBa,EAAOX,OAChC,MACF,IAAK,4BACHY,EAAUf,sBAAwBc,EAAOX,MACzC,MACF,IAAK,mCACHY,EAAUV,6BAAVJ,OAAAC,EAAA,EAAAD,CAAA,GAA8Cc,EAAUf,uBACxD,MACF,IAAK,mBACHe,EAAUT,aAAeQ,EAAOR,aAChC,MACF,IAAK,cACHS,EAAUN,QAAUK,EAAOL,QAC3B,MACF,IAAK,eACHM,EAAUR,SAAWO,EAAOP,SAKhC,OAAOQ,GAG4BpB,yOCrCxBsB,EAAb,SAAAC,GAAA,SAAAD,IAAA,OAAAhB,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAH,GAAAhB,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAgB,GAAAM,MAAAH,KAAAI,YAAA,OAAAvB,OAAAwB,EAAA,EAAAxB,CAAAgB,EAAAC,GAAAjB,OAAAyB,EAAA,EAAAzB,CAAAgB,EAAA,EAAAU,IAAA,SAAAC,MAAA,WACW,IAAAC,EACmCT,KAAKU,MAAvCC,EADDF,EACCE,KAAMC,EADPH,EACOG,WAAYC,EADnBJ,EACmBI,YADnBC,EAEyCd,KAAKP,MAA7CsB,EAFDD,EAECC,QAASC,EAFVF,EAEUE,SAAUC,EAFpBH,EAEoBG,OAAQC,EAF5BJ,EAE4BI,SACnC,OACEC,EAAAC,EAAAC,cAAA,OAAKC,UAAS,QAAAC,OAAUL,EAAV,KAAAK,OAAsBZ,EAAKa,OACvCL,EAAAC,EAAAC,cAAA,OAAKC,UAAU,SAASX,EAAKa,MAE5BP,EAAOQ,IAAI,SAAAC,GAAK,OACfP,EAAAC,EAAAC,cAAA,OAAKC,UAAU,QAAQf,IAAKmB,EAAMnB,KAChCY,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACE/B,KAAK,QACLgC,OAAQF,EAAME,OACdC,GAAIH,EACJI,SAAUlB,KAEVc,EAAMK,eACNZ,EAAAC,EAAAC,cAAA,OAAKC,UAAU,eAAeI,EAAMF,MAErCE,EAAMK,eACLZ,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACEL,UAAU,gBACVU,QAASN,EAAMM,QACfF,SAAUjB,OAMjBG,EAASS,IAAI,SAAAO,GAAO,OACnBb,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACEL,UAAU,UACVf,IAAKyB,EAAQzB,IACbyB,QAASA,EACTF,SAAUjB,MAIbE,EAAQU,IAAI,SAAAQ,GAAM,OACjBd,EAAAC,EAAAC,cAAA,OAAKC,UAAU,SAASf,IAAK0B,EAAO1B,KAClCY,EAAAC,EAAAC,cAAA,OAAKC,UAAU,gBAAgBW,EAAOT,MACtCL,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACE/B,KAAK,SACLgC,OAAQK,EAAOL,OACfC,GAAII,EACJH,SAAUlB,YA7CxBf,EAAA,CAA4BqC,cCCtBC,cAaJ,SAAAA,EAAYC,EAAS7B,EAAKI,GAA4C,IAAA0B,EAAtCC,EAAsClC,UAAAmC,OAAA,QAAAC,IAAApC,UAAA,GAAAA,UAAA,GAAtB,GAAIqC,EAAkBrC,UAAAmC,OAAA,QAAAC,IAAApC,UAAA,IAAAA,UAAA,GAAAvB,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAmC,IACpEE,EAAAxD,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAsD,GAAAO,KAAA1C,KAAMO,KACD6B,QAAUA,EACfC,EAAK9B,IAAMA,EACX8B,EAAKM,UAAYR,EAAYQ,UAE7B,IAAMC,EAAUjC,EAAKkC,KAAKtC,IAAQ+B,EANkC,OAQpE3B,EAAKkC,KAAKtC,GAAOqC,EACjBP,EAAK3B,MAAQ,CACX+B,WACAjC,MAAOoC,EACPE,SAAU,SAAAC,GACRV,EAAKW,SAASD,GACdV,EAAKD,QAAQa,QAAQ,YAEvBC,YAAa3C,GAhBqD8B,wEAoB7Dc,GACPnD,KAAKU,MAAMF,MAAQ2C,EACnBnD,KAAKoD,QAAQpD,KAAKO,IAAK4C,GACvBnD,KAAKqD,gBApCiBC,IAAKC,SAAzBpB,EACGQ,UAAY,SAAAa,GAAA,IAAGhD,EAAHgD,EAAGhD,MAAOsC,EAAVU,EAAUV,SAAUI,EAApBM,EAAoBN,YAApB,OACjB/B,EAAAC,EAAAC,cAACoC,EAAA,EAAD,CACEjD,MAAOA,EACPkD,MAAOR,EACPS,IAAK,SAAAA,GACHA,GAAOA,EAAIC,iBAAiB,cAAe,SAAAC,GAAC,OAAIA,EAAEC,qBAEpDhB,SAAU,SAAAe,GAAC,OAAIf,EAASe,EAAEE,OAAOvD,QACjCwD,QAAQ,kBA+BRC,cAcJ,SAAAA,EAAY7B,EAAS7B,EAAKI,GAAwB,IAAAuD,EAAlBzB,EAAkBrC,UAAAmC,OAAA,QAAAC,IAAApC,UAAA,IAAAA,UAAA,GAAAvB,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAiE,IAChDC,EAAArF,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAoF,GAAAvB,KAAA1C,KAAMO,KACD6B,QAAUA,EACf8B,EAAK3D,IAAMA,EACX2D,EAAKvB,UAAYsB,EAAetB,UAEhC,IAAMC,EAAUjC,EAAKkC,KAAKtC,IAAQ,GANc,OAQhDI,EAAKkC,KAAKtC,GAAOqC,EACjBsB,EAAKxD,MAAQ,CACX+B,WACAjC,MAAOoC,EACPE,SAAU,SAAAC,GACRmB,EAAKlB,SAASD,GACdmB,EAAK9B,QAAQa,QAAQ,YAEvBC,YAAa3C,GAhBiC2D,wEAoBzCf,GACPnD,KAAKU,MAAMF,MAAQ2C,EACnBnD,KAAKoD,QAAQpD,KAAKO,IAAK4C,GACvBnD,KAAKqD,gBArCoBC,IAAKC,SAA5BU,EACGtB,UAAY,SAAAwB,GAAA,IAAG3D,EAAH2D,EAAG3D,MAAOsC,EAAVqB,EAAUrB,SAAUI,EAApBiB,EAAoBjB,YAApB,OACjB/B,EAAAC,EAAAC,cAACoC,EAAA,EAAD,CACE7D,KAAK,SACLY,MAAOA,EACPkD,MAAOR,EACPS,IAAK,SAAAA,GACHA,GAAOA,EAAIC,iBAAiB,cAAe,SAAAC,GAAC,OAAIA,EAAEC,qBAEpDhB,SAAU,SAAAe,GAAC,OAAIf,EAASe,EAAEE,OAAOvD,QACjCwD,QAAQ,kBA+BRI,cAaJ,SAAAA,EAAYhC,EAAS7B,EAAKI,GAAwB,IAAA0D,EAAlB5B,EAAkBrC,UAAAmC,OAAA,QAAAC,IAAApC,UAAA,IAAAA,UAAA,GAAAvB,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAoE,IAChDC,EAAAxF,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAuF,GAAA1B,KAAA1C,KAAMO,KACD6B,QAAUA,EACfiC,EAAK9D,IAAMA,EACX8D,EAAK1B,UAAYyB,EAAezB,UAEhC,IAAMC,EAAUjC,EAAKkC,KAAKtC,KAAQ,EANc,OAQhDI,EAAKkC,KAAKtC,GAAOqC,EACjByB,EAAK3D,MAAQ,CACX+B,WACAjC,MAAOoC,EACPE,SAAU,SAAAC,GACRsB,EAAKrB,SAASD,GACdsB,EAAKjC,QAAQa,QAAQ,YAEvBC,YAAa3C,GAhBiC8D,wEAoBzClB,GACPnD,KAAKU,MAAMF,MAAQ2C,EACnBnD,KAAKoD,QAAQpD,KAAKO,IAAK4C,GACvBnD,KAAKqD,gBApCoBC,IAAKC,SAA5Ba,EACGzB,UAAY,SAAA2B,GAAA,IAAG9D,EAAH8D,EAAG9D,MAAOsC,EAAVwB,EAAUxB,SAAUI,EAApBoB,EAAoBpB,YAApB,OACjB/B,EAAAC,EAAAC,cAAA,aAAOF,EAAAC,EAAAC,cAAA,SACLzB,KAAK,WACLY,MAAO0C,EACPqB,QAAS/D,EACTmD,IAAK,SAAAA,GACHA,GAAOA,EAAIC,iBAAiB,cAAe,SAAAC,GAAC,OAAIA,EAAEC,qBAEpDhB,SAAU,SAAAe,GAAC,OAAIf,EAASe,EAAEE,OAAOQ,YAChCrB,IC/FA,IAAMsB,EAAyB,SAAAzF,GACpC,IAAI0F,EAAK,EACL/F,EAAQgG,GAAW3F,GACnB4F,EAAM,CAAEF,GAAI,wBAAyB/F,MAAO,IAehD,OAdAiG,EAAIjG,MAAQA,EAAMkG,OAAO,SAACC,EAAKlE,GAU7B,OATAkE,EAAIJ,EAAGK,YAAc,CACnBL,GAAIA,EACJ5B,KAAMkC,EAAgBpE,GACtBa,KAAMb,EAAKqE,KACX/D,OAAQ,CAAEgE,MAAO,CAAEC,YAAa,KAChCnE,QAAS,CAAEoE,iBAAkB,CAAED,YAAa,KAC5CE,SAAU,CAAM,IAALX,EAAe,IAALA,IAEvBA,IACOI,GACNF,EAAIjG,OAEPiG,EAAIjG,MAAQ2G,EAAkB3G,EAAOiG,EAAIjG,MAAO+F,GACzCE,GAGHU,EAAoB,SAAC3G,EAAOmG,EAAKJ,GACrC,OAAO/F,EAAMkG,OAAO,SAACC,EAAKlE,GAmCxB,GAlCIA,EAAK2E,QACPT,EAAMlE,EAAK2E,MAAMV,OAAO,SAACC,EAAKU,GAC5B,IAAIC,EAASC,EAAiB9E,EAAK8D,GAAII,GACnCd,EAAS0B,EAAiBF,EAAIG,KAAMb,GAWxC,OAVAA,EAAIJ,EAAGK,YAAca,EACnBlB,EACA,eACA,QACA,aACAc,EAAIK,YAAYC,KAAK,KACrBL,EACAzB,GAEFU,IACOI,GACNA,IAEDlE,EAAKmF,UACPjB,EAAMlE,EAAKmF,QAAQlB,OAAO,SAACC,EAAKkB,GAC9B,IAAIP,EAASC,EAAiB9E,EAAK8D,GAAII,GACnCd,EAAS0B,EAAiBM,EAAGL,KAAMb,GAWvC,OAVAA,EAAIJ,EAAGK,YAAca,EACnBlB,EACA,gBACA,QACA,cACAsB,EAAGC,aACHR,EACAzB,GAEFU,IACOI,GACNA,IAEDlE,EAAK+E,KAAM,CACb,IAAIF,EAASC,EAAiB9E,EAAK8D,GAAII,GACnCd,EAAS0B,EAAiB9E,EAAK+E,KAAMb,GACzCA,EAAIJ,EAAGK,YAAca,EACnBlB,EACA,mBACA,QACA,kBACA9D,EAAKsF,gBACLT,EACAzB,GAEFU,IAEF,OAAOI,GACNA,IAGCc,EAAmB,SAAClB,EAAI/C,EAAOO,EAAQT,EAAM0E,EAAOV,EAAQzB,GAiBhE,OAhBAyB,EAAOzE,QAAUyE,EAAOzE,SAAW,GACnCyE,EAAOzE,QAAQW,GAAS8D,EAAOzE,QAAQW,IAAU,GACjD8D,EAAOzE,QAAQW,GAAOwD,YAAcM,EAAOzE,QAAQW,GAAOwD,aAAe,GACzEM,EAAOzE,QAAQW,GAAOwD,YAAYiB,KAAK,CACrCxF,KAAM8D,EACN/C,MAAO,QACPmB,KAAM,KAERkB,EAAO9C,OAAS8C,EAAO9C,QAAU,GACjC8C,EAAO9C,OAAOgB,GAAU8B,EAAO9C,OAAOgB,IAAW,GACjD8B,EAAO9C,OAAOgB,GAAQiD,YAAcnB,EAAO9C,OAAOgB,GAAQiD,aAAe,GACzEnB,EAAO9C,OAAOgB,GAAQiD,YAAYiB,KAAK,CACrCxF,KAAM8D,EACNxC,OAAQ,OACRY,KAAM,KAED,CACLrB,KAAMA,EACNiD,GAAIA,EACJW,SAAU,CAAM,IAALX,EAAe,IAALA,GACrB5B,KAAM,CACJqD,MAAOA,GAETjF,OAAQ,CACNiF,MAAO,CACLhB,YAAa,CACX,CACEvE,KAAM6E,EAAOf,GACbxC,OAAQP,EACRmB,KAAM,OAKd9B,QAAS,CACPqF,KAAM,CACJlB,YAAa,CACX,CACEvE,KAAMoD,EAAOU,GACb/C,MAAOO,EACPY,KAAM,SAQZ4C,EAAmB,SAACjE,EAAM9C,GAC9B,IAAK,IAAI+F,KAAM/F,EACb,GAAIA,EAAM+F,GAAI5B,KAAKrB,OAASA,EAAM,OAAO9C,EAAM+F,IAI7CM,EAAkB,SAAApE,GACtB,OAAQA,EAAKqE,MACX,IAAK,OACH,OAAOqB,EAAqB1F,GAC9B,IAAK,SACH,OAAO2F,EAAuB3F,GAChC,IAAK,OACH,OAAO4F,EAAqB5F,GAC9B,QACE,MAAO,KAIP0F,EAAuB,SAAA1F,GAC3B,MAAO,CACL6F,SAAU7F,EAAK8F,SACfjF,KAAMb,EAAK8D,GACXiC,WAAY/F,EAAKgG,UACjBC,YAAajG,EAAKkG,WAClBC,cAAenG,EAAKoG,aACpBC,SAAQrG,EAAKsG,KAAMtG,EAAKsG,MAItBX,EAAyB,SAAA3F,GAC7B,MAAO,CACL6F,SAAU7F,EAAK8F,SACfjF,KAAMb,EAAK8D,GACXiC,WAAY/F,EAAKgG,UACjBC,YAAajG,EAAKkG,WAClBG,SAAQrG,EAAKsG,KAAMtG,EAAKsG,MAItBV,EAAuB,SAAA5F,GAC3B,MAAO,CACLa,KAAMb,EAAK8D,GACXyC,QAASvG,EAAKwG,QACdC,aAAczG,EAAK0G,YACnBC,UAAW3G,EAAK4G,UAChBC,eAAgB7G,EAAK8G,cACrBT,SAAQrG,EAAKsG,KAAMtG,EAAKsG,MAItBS,EAAqB,SAAChJ,EAAOC,GACjC,OAAOD,EAAMkG,OAAO,SAACC,EAAKlE,GAExB,OADAkE,EAAIlE,EAAKkC,KAAKrB,MAAQmG,GAA0BhH,EAAMhC,GAC/CkG,GACN,KAGC8C,GAA4B,SAAChH,EAAMhC,GACvC,OAAQgC,EAAKa,MACX,IAAK,OACH,OAAOoG,GAAYjH,EAAMhC,GAC3B,IAAK,OACH,OAAOkJ,GAAYlH,EAAMhC,GAC3B,IAAK,SACH,OAAOmJ,GAAcnH,EAAMhC,GAC7B,QACE,MAAO,KAIPiJ,GAAc,SAACjH,EAAMhC,GACzB,IAAIyH,EAAO2B,GAAqBpH,EAAMhC,GAClCqJ,EAAM5B,EAAOA,EAAKxG,KAAKiG,KAAK,KAAO,GACnCoC,EAAUC,GAAYvH,EAAMhC,GAAO8C,IAAI,SAAA8D,GAAG,MAAK,CACjDK,YAAaL,EAAI3F,KACjB8F,KAAMH,EAAIxB,OAAOlB,KAAKrB,QAExB,MAAO,CACLwD,KAAMrE,EAAKa,KACXiF,SAAU9F,EAAKkC,KAAK2D,SACpBP,gBAAiB+B,EACjB1C,MAAO2C,EACPtB,UAAWhG,EAAKkC,KAAK6D,WACrBG,WAAYlG,EAAKkC,KAAK+D,YACtBG,aAAcpG,EAAKkC,KAAKiE,cACxBpB,KAAMU,EAAOA,EAAKrC,OAAOlB,KAAKrB,KAAO,GACrCyF,IAAKtG,EAAKkC,KAAKmE,SAIbc,GAAgB,SAACnH,EAAMhC,GAC3B,IAAIwJ,EAAUC,GAAYzH,EAAMhC,GAAO8C,IAAI,SAAA4G,GAAM,MAAK,CACpDrC,aAAcqC,EAAOzI,KAAKiG,KAAK,MAC/BH,KAAM2C,EAAOtE,OAAOlB,KAAKrB,QAE3B,MAAO,CACLwD,KAAMrE,EAAKa,KACXiF,SAAU9F,EAAKkC,KAAK2D,SACpBV,QAASqC,EACTxB,UAAWhG,EAAKkC,KAAK6D,WACrBG,WAAYlG,EAAKkC,KAAK+D,cAIpBiB,GAAc,SAAClH,EAAMhC,GACzB,IAAIyH,EAAO2B,GAAqBpH,EAAMhC,GAClCqJ,EAAM5B,EAAOA,EAAKxG,KAAKiG,KAAK,KAAO,GACnClB,EAAM,CACRK,KAAMrE,EAAKa,KACXyE,gBAAiB+B,EACjBtC,KAAMU,EAAOA,EAAKrC,OAAOlB,KAAKrB,KAAO,GACrCyF,IAAKtG,EAAKkC,KAAKmE,QAMjB,OAJIrG,EAAKkC,KAAKqE,UAASvC,EAAG,QAAc2D,SAAS3H,EAAKkC,KAAKqE,UACvDvG,EAAKkC,KAAKyE,YAAW3C,EAAG,UAAgBhE,EAAKkC,KAAKyE,WAClD3G,EAAKkC,KAAK2E,iBAAgB7C,EAAG,cAAoBhE,EAAKkC,KAAK2E,gBAC3D7G,EAAKkC,KAAKuE,eAAczC,EAAG,YAAkBhE,EAAKkC,KAAKuE,cACpDzC,GAGHuD,GAAc,SAACvH,EAAMhC,GAAP,OAClBA,EAAM4J,OAAO,SAAAC,GAAI,OAAIC,GAAeD,EAAM7H,MAEtC8H,GAAiB,SAACD,EAAM7H,GAAP,OACrB6H,EAAKhD,OAAO3C,KAAKrB,OAASb,EAAKkC,KAAKrB,MAA4B,eAApBgH,EAAKtC,MAAM1E,MAEnD4G,GAAc,SAACzH,EAAMhC,GAAP,OAClBA,EAAM4J,OAAO,SAAAC,GAAI,OAAIE,GAAgBF,EAAM7H,MAEvC+H,GAAkB,SAACF,EAAM7H,GAAP,OACtB6H,EAAKhD,OAAO3C,KAAKrB,OAASb,EAAKkC,KAAKrB,MAA4B,gBAApBgH,EAAKtC,MAAM1E,MAEnDuG,GAAuB,SAACpH,EAAMhC,GAAP,OAC3BA,EAAMgK,KAAK,SAAAH,GAAI,OAAII,GAAeJ,EAAM7H,MAEpCiI,GAAiB,SAACJ,EAAM7H,GAAP,OACrB6H,EAAKhD,OAAO3C,KAAKrB,OAASb,EAAKkC,KAAKrB,MAChB,oBAApBgH,EAAKtC,MAAM1E,MAEPkD,GAAa,SAAAhG,GAAK,OACtBG,OAAOgK,KAAKnK,GAAOkG,OAAO,SAACC,EAAKtE,GAG9B,OAFA7B,EAAM6B,GAAKkE,GAAKlE,EAChBsE,EAAIsB,KAAKzH,EAAM6B,IACRsE,GACN,KAECiE,GAAe,SAAApE,GAAU,OAC7BA,EAAW6D,OAAO,SAAA5H,GAAI,OAAKA,EAAKa,KAAKuH,SAAS,YAE1CC,GAAc,SAACF,EAAc/J,GAAf,OAClB+J,EAAaG,QAAQ,SAAAtI,GAAI,OAAIuI,GAAevI,EAAM5B,MAE9CoK,GAAc,SAACC,GAAD,IAAcC,EAAdjJ,UAAAmC,OAAA,QAAAC,IAAApC,UAAA,GAAAA,UAAA,GAAkB,EAAlB,OAClBgJ,EAAY3H,IAAI,SAAAd,GACd,MAAO,CAAE8D,GAAI4E,IAAK3F,MAAO/C,EAAKa,KAAMA,KAAMb,EAAKkC,KAAKrB,SAGlD0H,GAAiB,SAACvI,EAAM5B,EAAOL,GAAd,OACrBG,OAAOgK,KAAKlI,EAAKI,SAASkI,QAAQ,SAAA1I,GAAG,OA+BvC,SAA0BA,EAAKI,EAAM5B,GAEnC,OADY4B,EAAKI,QAAQR,GAAK2E,YACjBN,OAAO,SAACC,EAAKyE,GACxB,IAAIpD,EAAQnH,EAAML,MAAM4K,EAAE3I,KAAKmE,YAC/B,GAAIoB,EAAMnF,QAAQqF,KAAKlB,YAAY3C,OAAS,EAAG,CAC7C,IAAIgH,EAAYrD,EAAMnF,QAAQqF,KAAKlB,YAAY,GAAGvE,KAAKmE,WACnDf,EAAShF,EAAML,MAAM6K,GACzB1E,EAAIsB,KAAK,CACPX,OAAQ7E,EACRoD,OAAQA,EACRmC,MAAOA,EACPtG,KAAM4J,GAAetD,KAGzB,OAAOrB,GACN,IA7CD4E,CAAiBlJ,EAAKI,EAAM5B,MAG1B2K,GAAc,SAACV,EAAatK,GAAd,OAClBsK,EAAYvH,IAAI,SAAA+G,GACd,IAAIzE,EAAS4F,GAAenB,EAAKzE,OAAOlB,KAAKrB,KAAM9C,GAEnD,MAAO,CACL8G,OAFWmE,GAAenB,EAAKhD,OAAO3C,KAAKrB,KAAM9C,GAGjDqF,OAAQA,EACRnE,KAAM4I,EAAK5I,SAIV,SAASgK,GAAuB7K,GACrC,IAAI8K,EAAInF,GAAW3F,EAAML,OACrB0K,EAAcN,GAAae,GAC3BC,EAAcd,GAAYI,EAAarK,GAC3C,OAAO2I,EAAmB0B,EAAaU,GAGlC,SAASC,GAAUhL,GACxB,IAAI8K,EAAInF,GAAW3F,EAAML,OACrB0K,EAAcN,GAAae,GAC3BnL,EAAQyK,GAAYC,GACpBU,EAAcd,GAAYI,EAAarK,GAE3C,MAAO,CAAEL,MAAOA,EAAOC,MADX+K,GAAYI,EAAapL,IAsBvC,SAAS8K,GAAetD,GACtB,IAAI1E,EAAO,GASX,OARI0E,EAAMrD,KAAKmH,OACbxI,EAAO0E,EAAMrD,KAAKmH,OACT9D,EAAMrD,KAAKqD,MACpB1E,EAAO0E,EAAMrD,KAAKqD,MACTA,EAAMrD,KAAKoH,SACpBzI,EAAO0E,EAAMrD,KAAKoH,QAGbzI,EAAK0I,MAAM,KAAKzI,IAAI,SAAAoI,GAAC,OAAIA,EAAEM,SAGpC,SAASR,GAAenI,EAAM9C,GAC5B,OAAOA,EAAM0L,UAAU,SAAAP,GAAC,OAAIA,EAAErI,OAASA,IC1VzC,IAAM6I,GAAe,eACfC,GAA4B,4BAC5BC,GAAmC,mCACnCC,GAAmB,mBACnBC,GAAe,eACfC,GAAc,cAGb,SAASC,GAAa5L,GAC3B,MAAO,CAAEa,KAAMyK,GAActL,MAAOA,GAG/B,SAAS6L,GAAyB7L,GACvC,MAAO,CAAEa,KAAM0K,GAA2BvL,MAAOA,GAM5C,SAAS8L,GAAiB3L,GAC/B,MAAO,CAAEU,KAAM4K,GAAkBtL,aAAcA,GCHjD,IAAI4L,GAAoB,IAAIxH,IAAKyH,OAAO,oBACpCC,GAAe,IAAI1H,IAAKyH,OAAO,eAC/BE,GAAgB,IAAI3H,IAAKyH,OAAO,gBAChCG,GAAc,IAAI5H,IAAKyH,OAAO,QAE5BI,eACJ,SAAAA,IAAe,OAAAtM,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAmL,GAAAtM,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAsM,GAAAzI,KAAA1C,KACP,8EAGAW,GACN,IAAIyK,EAAM,IAAI9H,IAAK+H,MAAM,QAAS,QAASH,IAAa,GACpDI,EAAK,IAAIhI,IAAKiI,OAChB,mBACA,mBACAT,IAEEU,EAAK,IAAIlI,IAAKiI,OAAO,eAAgB,eAAgBP,IACrDxJ,EAAO,IAAIW,EAAYnC,KAAKyL,OAAQ,OAAQ9K,GAC5C6F,EAAW,IAAIrE,EAAYnC,KAAKyL,OAAQ,WAAY9K,GACpD+F,EAAa,IAAIvE,EAAYnC,KAAKyL,OAAQ,aAAc9K,GACxDmG,EAAgB,IAAI3E,EAAYnC,KAAKyL,OAAQ,gBAAiB9K,GAC9DiG,EAAc,IAAIzE,EAAYnC,KAAKyL,OAAQ,cAAe9K,GAC1DqG,EAAS,IAAI5C,EAAepE,KAAKyL,OAAQ,SAAU9K,GACvD,OAAOA,EACJ+K,SAASN,GACTO,UAAUL,GACVK,UAAUH,GACVI,WAAWpK,GACXoK,WAAWpF,GACXoF,WAAWlF,GACXkF,WAAW9E,GACX8E,WAAWhF,GACXgF,WAAW5E,UA5BU1D,IAAKuI,WAgC3BC,eACJ,SAAAA,IAAe,OAAAjN,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAA8L,GAAAjN,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAiN,GAAApJ,KAAA1C,KACP,gFAGAW,GACN,IAAIyK,EAAM,IAAI9H,IAAK+H,MAAM,QAAS,QAASH,IAAa,GACpDM,EAAK,IAAIlI,IAAKiI,OAAO,gBAAiB,gBAAiBN,IACvDzE,EAAW,IAAIrE,EAAYnC,KAAKyL,OAAQ,WAAY9K,GACpDa,EAAO,IAAIW,EAAYnC,KAAKyL,OAAQ,OAAQ9K,GAC5C+F,EAAa,IAAIvE,EAAYnC,KAAKyL,OAAQ,aAAc9K,GACxDiG,EAAc,IAAIzE,EAAYnC,KAAKyL,OAAQ,cAAe9K,GAE9D,OAAOA,EACJ+K,SAASN,GACTO,UAAUH,GACVI,WAAWpK,GACXoK,WAAWpF,GACXoF,WAAWlF,GACXkF,WAAWhF,UAnBYtD,IAAKuI,WAuB7BE,eACJ,SAAAA,IAAe,OAAAlN,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAA+L,GAAAlN,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAkN,GAAArJ,KAAA1C,KACP,8EAGAW,GACN,IAAIyK,EAAM,IAAI9H,IAAK+H,MAAM,QAAS,QAASH,IAAa,GACpDI,EAAK,IAAIhI,IAAKiI,OAChB,mBACA,mBACAT,IAEEtJ,EAAO,IAAIW,EAAYnC,KAAKyL,OAAQ,OAAQ9K,GAC5CuG,EAAU,IAAIjD,EAAejE,KAAKyL,OAAQ,UAAW9K,GACrD2G,EAAY,IAAInF,EAAYnC,KAAKyL,OAAQ,YAAa9K,GACtDyG,EAAe,IAAIjF,EAAYnC,KAAKyL,OAAQ,eAAgB9K,GAC5D6G,EAAiB,IAAIrF,EAAYnC,KAAKyL,OAAQ,iBAAkB9K,GAChEqG,EAAS,IAAI5C,EAAepE,KAAKyL,OAAQ,SAAU9K,GACvD,OAAOA,EACJ+K,SAASN,GACTO,UAAUL,GACVM,WAAWpK,GACXoK,WAAW1E,GACX0E,WAAWtE,GACXsE,WAAWxE,GACXwE,WAAWpE,GACXoE,WAAW5E,UA1BU1D,IAAKuI,WA6B3BG,eACJ,SAAAA,IAAe,OAAAnN,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAgM,GAAAnN,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAmN,GAAAtJ,KAAA1C,KACP,yFAGAW,GACN,IAAIyK,EAAM,IAAI9H,IAAK+H,MAAM,QAAS,IAAKP,IAAmB,GACtDmB,EAAM,IAAI3I,IAAKiI,OAAO,OAAQ,OAAQL,IACtCgB,EAAO,IAAI/J,EAAYnC,KAAKyL,OAAQ,QAAS9K,GACjD,OAAOA,EACJ+K,SAASN,GACTO,UAAUM,GACVL,WAAWM,UAZqB5I,IAAKuI,WAgBtCM,eACJ,SAAAA,IAAe,OAAAtN,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAmM,GAAAtN,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAsN,GAAAzJ,KAAA1C,KACP,oFAGAW,GACN,IAAIyK,EAAM,IAAI9H,IAAK+H,MAAM,QAAS,IAAKL,IAAc,GACjDiB,EAAM,IAAI3I,IAAKiI,OAAO,OAAQ,OAAQL,IACtCgB,EAAO,IAAI/J,EAAYnC,KAAKyL,OAAQ,QAAS9K,GACjD,OAAOA,EACJ+K,SAASN,GACTO,UAAUM,GACVL,WAAWM,UAZgB5I,IAAKuI,WAgBjCO,eACJ,SAAAA,IAAe,OAAAvN,OAAAkB,EAAA,EAAAlB,CAAAmB,KAAAoM,GAAAvN,OAAAoB,EAAA,EAAApB,CAAAmB,KAAAnB,OAAAqB,EAAA,EAAArB,CAAAuN,GAAA1J,KAAA1C,KACP,qFAGAW,GACN,IAAIyK,EAAM,IAAI9H,IAAK+H,MAAM,QAAS,IAAKJ,IACnCgB,EAAM,IAAI3I,IAAKiI,OAAO,OAAQ,OAAQL,IACtCgB,EAAO,IAAI/J,EAAYnC,KAAKyL,OAAQ,QAAS9K,GACjD,OAAOA,EACJ+K,SAASN,GACTO,UAAUM,GACVL,WAAWM,UAZiB5I,IAAKuI,WAgB3BQ,GAAO,SAAOC,EAAWvN,GAAlB,IAAAwN,EAAAd,EAAA,OAAAe,EAAApL,EAAAqL,MAAA,SAAAC,GAAA,cAAAA,EAAAC,KAAAD,EAAAtG,MAAA,UACbkG,EADa,CAAAI,EAAAtG,KAAA,eAAAsG,EAAAE,OAAA,iBAEdL,EAAa,CACf,IAAIpB,GACJ,IAAIW,GACJ,IAAIC,GACJ,IAAIK,GACJ,IAAID,GACJ,IAAIH,KAGFP,EAAS,IAAInI,IAAKuJ,WAAW,wBAAyBP,IACnDQ,IAAIC,KACXtB,EAAOqB,IAAIE,IAAmB,CAAErK,UAAW9C,IAC3C4L,EAAOqB,IAAIG,KACXxB,EAAOqB,IAAII,KACXzB,EAAOqB,IAAIK,KACX1B,EAAOqB,IAAIM,IAAmB,CAAEC,OAAQ,CAAEC,EAAG,GAAIC,EAAG,IAAMC,MAAO,IAEjEjB,EAAW9K,IAAI,SAAA6H,GAAC,OAAImC,EAAOgC,SAASnE,KAEpCmC,EAAOiC,GACL,sEACA,eAAA3O,EAAAN,EAAAG,EAAA,OAAA4N,EAAApL,EAAAqL,MAAA,SAAAkB,GAAA,cAAAA,EAAAhB,KAAAgB,EAAAvH,MAAA,OACMrH,EAAQ0M,EAAOmC,SACfnP,EAAWsL,GAAUhL,GACrBH,EAAwBgL,GAAuB7K,GACnDQ,EAAMsO,SAASlD,GAAalM,IAC5Bc,EAAMsO,SAASjD,GAAyBhM,IAL1C,wBAAA+O,EAAAG,YASFrC,EAAOsC,SAASvJ,EAAuBzF,IAEvCiP,WAAW,WACTvC,EAAOwC,KAAKC,SACZzC,EAAOxI,QAAQ,WACfwI,EAAOxI,QAAQ,WACfiK,IAAWiB,OAAO1C,IACjB,KAvCe,yBAAAiB,EAAAoB,8BCtFLM,OAhEf,SAAA5K,GAA2D,IACrD6K,EAAUC,EADGC,EAAwC/K,EAAxC+K,MAAOC,EAAiChL,EAAjCgL,OAAQ7P,EAAyB6E,EAAzB7E,MAAOD,EAAkB8E,EAAlB9E,MAAO+P,EAAWjL,EAAXiL,QAoD9C,OAjDAC,oBAAU,WACR,IAAIC,EAAI,IAAIC,YAAiBC,MAAM,CAAEC,YAAY,IAAQC,SAAS,IAClErQ,EAAMsQ,QAAQ,SAASC,GACrBN,EAAEO,QAAQD,EAAGzN,KAAM,CAAEkC,MAAOuL,EAAGzN,SAEjC7C,EAAMqQ,QAAQ,SAAAG,GACZ,IAAI3N,EACF9C,EAAMyQ,EAAK3J,QAAQhE,KACnB,IACA9C,EAAMyQ,EAAKpL,QAAQvC,KACnB,IACA2N,EAAKvP,KACP+O,EAAES,QACA1Q,EAAMyQ,EAAK3J,QAAQhE,KACnB9C,EAAMyQ,EAAKpL,QAAQvC,KACnB,CAAEkC,MAAOyL,EAAKvP,KAAKiG,KAAK,MACxBrE,KAIJmN,EAAEjQ,QAAQsQ,QAAQ,SAASjM,GACzB,IAAIpC,EAAOgO,EAAEhO,KAAKoC,GAClBpC,EAAK0O,GAAK1O,EAAK2O,GAAK,IAItB,IAAIC,EAAMC,UAAUnB,GAChBoB,EAAQD,UAAUlB,GAElBoB,EAAOF,UAAU9B,GAAG,OAAQ,WAC9B+B,EAAME,KAAK,YAAaH,SAASI,aAEnCL,EAAI7M,KAAKgN,IAEI,IAAId,UAEjBiB,CAAOJ,EAAOd,GAGdY,EAAI7M,KAAKgN,EAAKE,UAAWJ,gBAAgBM,MADtB,KAKnBP,EAAIQ,UAAU,mBAAmBrC,GAAG,QAAS,SAAAjJ,GAC3CkK,EAAEjQ,QAAQsQ,QAAQ,SAAAjM,GAAC,OAAI4L,EAAEhO,KAAKoC,GAAGiN,KAAKC,UAAUC,OAAO,cACvDvB,EAAEhO,KAAK8D,GAAIuL,KAAKC,UAAUE,IAAI,eAE/B,CAACxR,EAAOD,EAAO2P,EAAUC,EAAeG,IAGzCtN,EAAAC,EAAAC,cAAA,OACEC,UAAU,WACVqC,IAAK,SAAAyM,GAAC,OAAK/B,EAAW+B,GACtB7B,MAAOA,EACPC,OAAQA,GAERrN,EAAAC,EAAAC,cAAA,KAAGsC,IAAK,SAAAyM,GAAC,OAAK9B,EAAgB8B,OC5CrBvB,OAff,WACE,IAAM9P,EAAQsR,YAAY,SAAA5Q,GAAK,OAAIA,EAAMhB,WAEzC,OACE0C,EAAAC,EAAAC,cAAA,WACEF,EAAAC,EAAAC,cAACiP,GAAD,CACE3R,MAAOI,EAAMJ,MACbD,MAAOK,EAAML,MACb6P,MAAM,OACNC,OAAO,+BCyDA+B,OA1Df,WACE,IAAMxR,EAAQsR,YAAY,SAAA5Q,GAAK,OAAIA,EAAMb,wBACnCO,EAAWkR,YAAY,SAAA5Q,GAAK,OAAIA,EAAMN,WACtCE,EAAUgR,YAAY,SAAA5Q,GAAK,OAAIA,EAAMJ,UAHtBmR,EAIUC,mBAAS,CACtCrR,QAASD,EACTG,QAASD,EACTL,OAAQD,IAPW2R,EAAA7R,OAAA8R,GAAA,EAAA9R,CAAA2R,EAAA,GAIdI,EAJcF,EAAA,GAILG,EAJKH,EAAA,GAUrBhC,oBAAU,WACRmC,EAAY,CAACzR,QAASD,EAAUG,QAASD,EAASL,OAAQD,KACzD,CAACA,EAAOI,EAAUE,IAErB,IAWMgE,EAAS,SAAAQ,GJdV,IAAsB1E,EAIAE,EIWzBE,EAAMsO,SAAShD,IAAiB,IAChCtL,EAAMsO,SAASjD,GAAyBgG,EAAQ5R,SAChDO,EAAMsO,UJjBmB1O,EIiBGyR,EAAQxR,QJhB/B,CAAEQ,KAAM6K,GAActL,SAAUA,KIiBrCI,EAAMsO,UJdmBxO,EIcGuR,EAAQtR,QJb/B,CAAEM,KAAM8K,GAAarL,QAASA,KIcnCE,EAAMsO,SJzBD,CAAEjO,KAAM2K,KI0BbyD,WAAW,kBAAMzO,EAAMsO,SAAShD,IAAiB,KAAQ,MAG3D,OACE1J,EAAAC,EAAAC,cAAA,WACEF,EAAAC,EAAAC,cAACyP,GAAA,EAAD,CAAQ9M,QAAQ,YAAY+M,MAAM,UAAUtC,QAASpL,GAArD,UAGAlC,EAAAC,EAAAC,cAAA,WACAF,EAAAC,EAAAC,cAAA,YACE2P,aAAa,MACbC,YAAY,MACZC,eAAe,MACfC,WAAW,QACXC,KAAK,MACLC,KAAK,KACL7Q,MAAO8Q,KAAKC,UAAUX,OAASpO,EAAW,GAC1CM,SAlCW,SAAAe,GACf,IACE,IAAI2N,EAAMF,KAAKG,MAAM5N,EAAEE,OAAOvD,OAC9BqQ,EAAYW,GACZ,MAAO3N,GACP6N,QAAQC,IAAI9N,GACZ6N,QAAQC,IAAI,yBAEd,OAAO,KA4BLxQ,EAAAC,EAAAC,cAAA,WACAF,EAAAC,EAAAC,cAACyP,GAAA,EAAD,CAAQ9M,QAAQ,YAAY+M,MAAM,UAAUtC,QAASpL,GAArD,YC7CAuO,GAAYC,YAAW,SAAAC,GAAK,MAAK,CACrCC,KAAM,CACJnB,QAAS,QAEXoB,QAAS,CACPC,aAAc,IAEhBC,YAAYrT,OAAAC,EAAA,EAAAD,CAAA,CACV+R,QAAS,OACTuB,WAAY,SACZC,eAAgB,WAChBC,QAAS,SACNP,EAAMQ,OAAON,SAElBO,OAAQ,CACNC,OAAQV,EAAMU,OAAOC,OAAS,EAC9BC,WAAYZ,EAAMa,YAAYC,OAAO,CAAC,QAAS,UAAW,CACxDC,OAAQf,EAAMa,YAAYE,OAAOC,MACjCC,SAAUjB,EAAMa,YAAYI,SAASC,iBAGzCC,YAAa,CACXC,WAxBgB,IAyBhB3E,MAAK,eAAAhN,OAzBW,IAyBX,OACLmR,WAAYZ,EAAMa,YAAYC,OAAO,CAAC,QAAS,UAAW,CACxDC,OAAQf,EAAMa,YAAYE,OAAOC,MACjCC,SAAUjB,EAAMa,YAAYI,SAASI,kBAGzCC,WAAY,CACVC,YAAa,IAEfC,iBAAkB,CAChB1C,QAAS,QAEX2C,MAAO,CACLC,SAAU,GAEZC,YAAa,CACXrO,SAAU,WACVsO,WAAY,SACZnF,MA3CgB,IA4ChBmE,WAAYZ,EAAMa,YAAYC,OAAO,QAAS,CAC5CC,OAAQf,EAAMa,YAAYE,OAAOC,MACjCC,SAAUjB,EAAMa,YAAYI,SAASI,kBAGzCQ,iBAAiB9U,OAAA+U,EAAA,EAAA/U,CAAA,CACfgV,UAAW,SACXnB,WAAYZ,EAAMa,YAAYC,OAAO,QAAS,CAC5CC,OAAQf,EAAMa,YAAYE,OAAOC,MACjCC,SAAUjB,EAAMa,YAAYI,SAASC,gBAEvCzE,MAAOuD,EAAMgC,QAAQ,IACpBhC,EAAMiC,YAAYC,GAAG,MAAQ,CAC5BzF,MAAOuD,EAAMgC,QAAQ,KAGzBG,aAAcnC,EAAMQ,OAAON,QAC3BkC,QAAS,CACPV,SAAU,EACVhF,OAAQ,QACR2F,SAAU,QAEZ7H,UAAW,CACT8H,WAAYtC,EAAMgC,QAAQ,GAC1BO,cAAevC,EAAMgC,QAAQ,IAE/BQ,MAAO,CACLjC,QAASP,EAAMgC,QAAQ,GACvBlD,QAAS,OACTuD,SAAU,OACVI,cAAe,UAEjBC,YAAa,CACXhG,OAAQ,WA2DGiG,OAvDf,WACE,IAAMC,EAAU9C,KACV+C,EAAmBC,YAAKF,EAAQJ,MAAOI,EAAQF,aAC/CzV,EAAQsR,YAAY,SAAA5Q,GAAK,OAAIA,EAAMR,+BACnCC,EAAemR,YAAY,SAAA5Q,GAAK,OAAIA,EAAMP,eAEhD,OACEiC,EAAAC,EAAAC,cAAA,OAAKC,UAAWoT,EAAQ3C,MACtB5Q,EAAAC,EAAAC,cAACwT,EAAA,EAAD,MACA1T,EAAAC,EAAAC,cAACyT,EAAA,EAAD,CAAQ1P,SAAS,WAAW9D,UAAWsT,YAAKF,EAAQnC,SAClDpR,EAAAC,EAAAC,cAAC0T,EAAA,EAAD,CAASzT,UAAWoT,EAAQ1C,SAC1B7Q,EAAAC,EAAAC,cAAC2T,EAAA,EAAD,CACErS,UAAU,KACVqB,QAAQ,KACR+M,MAAM,UACNkE,QAAM,EACN3T,UAAWoT,EAAQnB,OALrB,0BASApS,EAAAC,EAAAC,cAAC6T,EAAA,EAAD,CAAYnE,MAAM,cAGtB5P,EAAAC,EAAAC,cAAA,QAAMC,UAAWoT,EAAQR,SACvB/S,EAAAC,EAAAC,cAAA,OAAKC,UAAWoT,EAAQT,eACxB9S,EAAAC,EAAAC,cAAC8T,EAAA,EAAD,CAAWC,SAAS,KAAK9T,UAAWoT,EAAQpI,WAC1CnL,EAAAC,EAAAC,cAACgU,EAAA,EAAD,CAAM/I,WAAS,EAACwH,QAAS,GACvB3S,EAAAC,EAAAC,cAACgU,EAAA,EAAD,CAAMC,MAAI,EAACC,GAAI,GAAIC,GAAI,EAAGC,GAAI,GAC5BtU,EAAAC,EAAAC,cAACqU,EAAA,EAAD,CAAOpU,UAAWqT,GAChBxT,EAAAC,EAAAC,cAAA,oBACCnC,EACCiC,EAAAC,EAAAC,cAAA,OAAKsC,IAAK,SAAAgS,GAAE,OAAItJ,GAAKsJ,EAAI5W,MACzBoC,EAAAC,EAAAC,cAAA,2BAINF,EAAAC,EAAAC,cAACgU,EAAA,EAAD,CAAMC,MAAI,EAACC,GAAI,GAAIC,GAAI,EAAGC,GAAI,GAC5BtU,EAAAC,EAAAC,cAACqU,EAAA,EAAD,CAAOpU,UAAWqT,GAChBxT,EAAAC,EAAAC,cAAA,mBACAF,EAAAC,EAAAC,cAACuU,GAAD,QAGJzU,EAAAC,EAAAC,cAACgU,EAAA,EAAD,CAAMC,MAAI,EAACC,GAAI,IACbpU,EAAAC,EAAAC,cAACqU,EAAA,EAAD,CAAOpU,UAAWoT,EAAQJ,OACxBnT,EAAAC,EAAAC,cAAA,kBACAF,EAAAC,EAAAC,cAACwU,GAAD,gCCzIHC,GAAUC,eAaRC,GAXH,kBACV7U,EAAAC,EAAAC,cAAA,OAAKC,UAAU,OACbH,EAAAC,EAAAC,cAAC4U,GAAA,EAAD,CAAQH,QAASA,IACf3U,EAAAC,EAAAC,cAAC4U,GAAA,EAAD,KACE9U,EAAAC,EAAAC,cAAC4U,GAAA,EAAD,CAAOC,KAAK,IAAIvT,UAAW8R,KAC3BtT,EAAAC,EAAAC,cAAC4U,GAAA,EAAD,CAAOC,KAAK,0BAA0BvT,UAAW8R,SCArC0B,QACW,cAA7BC,OAAOC,SAASC,UAEe,UAA7BF,OAAOC,SAASC,UAEhBF,OAAOC,SAASC,SAASC,MACvB,kEAiHA,kBAAmBC,WACrBA,UAAUC,cAAcC,MAAMC,KAAK,SAAAC,GACjCA,EAAaC,eC3HjBC,IAASjH,OACP1O,EAAAC,EAAAC,cAAC0V,EAAA,EAAD,CAAUxX,MAAOA,GACf4B,EAAAC,EAAAC,cAAC2V,GAAD,OAEFC,SAASC,eAAe","file":"static/js/main.af03fe09.chunk.js","sourcesContent":["import { createStore } from 'redux';\nimport graph from './states_language_test.json';\n\nconst initialState = {\n  editor_graph: {},\n  d3_graph: { nodes: [], edges: [] },\n  states_language_graph: {...graph.States},\n  states_language_graph_editor: { ...graph.States },\n  graph_loaded: true,\n  start_at: graph.StartAt || \"\",\n  comment: graph.Comment || \"\",\n};\n\nfunction updateState(state, action) {\n  let new_state = { ...state };\n  switch (action.type) {\n    case 'SET_D3_GRAPH':\n      new_state.d3_graph = {...action.graph};\n      break;\n    case 'SET_STATES_LANGUAGE_GRAPH':\n      new_state.states_language_graph = action.graph;\n      break;\n    case 'SET_STATES_LANGUAGE_GRAPH_EDITOR':\n      new_state.states_language_graph_editor = { ...new_state.states_language_graph };\n      break;\n    case 'SET_GRAPH_LOADED':\n      new_state.graph_loaded = action.graph_loaded;\n      break;\n    case 'SET_COMMENT':\n      new_state.comment = action.comment;\n      break;\n    case 'SET_START_AT':\n      new_state.start_at = action.start_at;\n      break;\n    default:\n      break;\n  }\n  return new_state;\n}\n\nlet store = createStore(updateState, initialState);\n\nexport default store;\n","import React from 'react';\nimport { Node, Socket, Control } from 'rete-react-render-plugin';\n\nexport class MyNode extends Node {\n  render() {\n    const { node, bindSocket, bindControl } = this.props;\n    const { outputs, controls, inputs, selected } = this.state;\n    return (\n      <div className={`node ${selected} ${node.name}`}>\n        <div className=\"title\">{node.name}</div>\n        {/* Inputs */}\n        {inputs.map(input => (\n          <div className=\"input\" key={input.key}>\n            <Socket\n              type=\"input\"\n              socket={input.socket}\n              io={input}\n              innerRef={bindSocket}\n            />\n            {!input.showControl() && (\n              <div className=\"input-title\">{input.name}</div>\n            )}\n            {input.showControl() && (\n              <Control\n                className=\"input-control\"\n                control={input.control}\n                innerRef={bindControl}\n              />\n            )}\n          </div>\n        ))}\n        {/* Controls */}\n        {controls.map(control => (\n          <Control\n            className=\"control\"\n            key={control.key}\n            control={control}\n            innerRef={bindControl}\n          />\n        ))}\n        {/* Outputs */}\n        {outputs.map(output => (\n          <div className=\"output\" key={output.key}>\n            <div className=\"output-title\">{output.name}</div>\n            <Socket\n              type=\"output\"\n              socket={output.socket}\n              io={output}\n              innerRef={bindSocket}\n            />\n          </div>\n        ))}\n      </div>\n    );\n  }\n}\n","import React from 'react';\nimport TextField from '@material-ui/core/TextField';\nimport Rete from 'rete';\n\nclass TextControl extends Rete.Control {\n  static component = ({ value, onChange, placeholder }) => (\n    <TextField\n      value={value}\n      label={placeholder}\n      ref={ref => {\n        ref && ref.addEventListener('pointerdown', e => e.stopPropagation());\n      }}\n      onChange={e => onChange(e.target.value)}\n      variant=\"outlined\"\n    />\n  );\n\n  constructor(emitter, key, node, default_value = '', readonly = false) {\n    super(key);\n    this.emitter = emitter;\n    this.key = key;\n    this.component = TextControl.component;\n\n    const initial = node.data[key] || default_value;\n\n    node.data[key] = initial;\n    this.props = {\n      readonly,\n      value: initial,\n      onChange: v => {\n        this.setValue(v);\n        this.emitter.trigger('process');\n      },\n      placeholder: key,\n    };\n  }\n\n  setValue(val) {\n    this.props.value = val;\n    this.putData(this.key, val);\n    this.update();\n  }\n}\n\nclass IntegerControl extends Rete.Control {\n  static component = ({ value, onChange, placeholder }) => (\n    <TextField\n      type=\"number\"\n      value={value}\n      label={placeholder}\n      ref={ref => {\n        ref && ref.addEventListener('pointerdown', e => e.stopPropagation());\n      }}\n      onChange={e => onChange(e.target.value)}\n      variant=\"outlined\"\n    />\n  );\n\n  constructor(emitter, key, node, readonly = false) {\n    super(key);\n    this.emitter = emitter;\n    this.key = key;\n    this.component = IntegerControl.component;\n\n    const initial = node.data[key] || '';\n\n    node.data[key] = initial;\n    this.props = {\n      readonly,\n      value: initial,\n      onChange: v => {\n        this.setValue(v);\n        this.emitter.trigger('process');\n      },\n      placeholder: key\n    };\n  }\n\n  setValue(val) {\n    this.props.value = val;\n    this.putData(this.key, val);\n    this.update();\n  }\n}\n\nclass BooleanControl extends Rete.Control {\n  static component = ({ value, onChange, placeholder }) => (\n    <label><input\n      type=\"checkbox\"\n      value={placeholder}\n      checked={value}\n      ref={ref => {\n        ref && ref.addEventListener('pointerdown', e => e.stopPropagation());\n      }}\n      onChange={e => onChange(e.target.checked)}\n    />{placeholder}</label>\n  );\n\n  constructor(emitter, key, node, readonly = false) {\n    super(key);\n    this.emitter = emitter;\n    this.key = key;\n    this.component = BooleanControl.component;\n\n    const initial = node.data[key] || false;\n\n    node.data[key] = initial;\n    this.props = {\n      readonly,\n      value: initial,\n      onChange: v => {\n        this.setValue(v);\n        this.emitter.trigger('process');\n      },\n      placeholder: key\n    };\n  }\n\n  setValue(val) {\n    this.props.value = val;\n    this.putData(this.key, val);\n    this.update();\n  }\n}\n\nexport { TextControl, BooleanControl, IntegerControl }\n\n","export const states_language_editor = graph => {\n  let id = 1;\n  let nodes = graph_list(graph);\n  let res = { id: 'states-language@0.1.0', nodes: {} };\n  res.nodes = nodes.reduce((acc, node) => {\n    acc[id.toString()] = {\n      id: id,\n      data: get_editor_data(node),\n      name: node.Type,\n      inputs: { start: { connections: [] } },\n      outputs: { transition_event: { connections: [] } },\n      position: [id * 100, id * 100],\n    };\n    id++;\n    return acc;\n  }, res.nodes);\n\n  res.nodes = create_edge_nodes(nodes, res.nodes, id);\n  return res;\n};\n\nconst create_edge_nodes = (nodes, acc, id) => {\n  return nodes.reduce((acc, node) => {\n    if (node.Catch) {\n      acc = node.Catch.reduce((acc, cat) => {\n        let source = get_node_by_name(node.id, acc);\n        let target = get_node_by_name(cat.Next, acc);\n        acc[id.toString()] = editor_edge_node(\n          id,\n          'catch_events',\n          'start',\n          'CatchEvent',\n          cat.ErrorEquals.join(','),\n          source,\n          target\n        );\n        id++;\n        return acc;\n      }, acc);\n    }\n    if (node.Choices) {\n      acc = node.Choices.reduce((acc, ch) => {\n        let source = get_node_by_name(node.id, acc);\n        let target = get_node_by_name(ch.Next, acc);\n        acc[id.toString()] = editor_edge_node(\n          id,\n          'choice_events',\n          'start',\n          'ChoiceEvent',\n          ch.StringEquals,\n          source,\n          target\n        );\n        id++;\n        return acc;\n      }, acc);\n    }\n    if (node.Next) {\n      let source = get_node_by_name(node.id, acc);\n      let target = get_node_by_name(node.Next, acc);\n      acc[id.toString()] = editor_edge_node(\n        id,\n        'transition_event',\n        'start',\n        'TransitionEvent',\n        node.TransitionEvent,\n        source,\n        target\n      );\n      id++;\n    }\n    return acc;\n  }, acc);\n};\n\nconst editor_edge_node = (id, input, output, name, event, source, target) => {\n  source.outputs = source.outputs || {};\n  source.outputs[input] = source.outputs[input] || {};\n  source.outputs[input].connections = source.outputs[input].connections || [];\n  source.outputs[input].connections.push({\n    node: id,\n    input: 'event',\n    data: {},\n  });\n  target.inputs = target.inputs || {};\n  target.inputs[output] = target.inputs[output] || {};\n  target.inputs[output].connections = target.inputs[output].connections || [];\n  target.inputs[output].connections.push({\n    node: id,\n    output: 'next',\n    data: {},\n  });\n  return {\n    name: name,\n    id: id,\n    position: [id * 100, id * 100],\n    data: {\n      event: event,\n    },\n    inputs: {\n      event: {\n        connections: [\n          {\n            node: source.id,\n            output: input,\n            data: {},\n          },\n        ],\n      },\n    },\n    outputs: {\n      next: {\n        connections: [\n          {\n            node: target.id,\n            input: output,\n            data: {},\n          },\n        ],\n      },\n    },\n  };\n};\n\nconst get_node_by_name = (name, nodes) => {\n  for (let id in nodes) {\n    if (nodes[id].data.name === name) return nodes[id];\n  }\n};\n\nconst get_editor_data = node => {\n  switch (node.Type) {\n    case 'Task':\n      return get_editor_data_task(node);\n    case 'Choice':\n      return get_editor_data_choice(node);\n    case 'Wait':\n      return get_editor_data_wait(node);\n    default:\n      return {};\n  }\n};\n\nconst get_editor_data_task = node => {\n  return {\n    resource: node.Resource,\n    name: node.id,\n    input_path: node.InputPath,\n    output_path: node.OutputPath,\n    resource_path: node.ResourcePath,\n    is_end: node.End ? node.End : false,\n  };\n};\n\nconst get_editor_data_choice = node => {\n  return {\n    resource: node.Resource,\n    name: node.id,\n    input_path: node.InputPath,\n    output_path: node.OutputPath,\n    is_end: node.End ? node.End : false,\n  };\n};\n\nconst get_editor_data_wait = node => {\n  return {\n    name: node.id,\n    seconds: node.Seconds,\n    seconds_path: node.SecondsPath,\n    timestamp: node.Timestamp,\n    timestamp_path: node.TimestampPath,\n    is_end: node.End ? node.End : false,\n  };\n};\n\nconst to_states_language = (nodes, edges) => {\n  return nodes.reduce((acc, node) => {\n    acc[node.data.name] = get_states_language_state(node, edges);\n    return acc;\n  }, {});\n};\n\nconst get_states_language_state = (node, edges) => {\n  switch (node.name) {\n    case 'Task':\n      return get_sl_task(node, edges);\n    case 'Wait':\n      return get_sl_wait(node, edges);\n    case 'Choice':\n      return get_sl_choice(node, edges);\n    default:\n      return {};\n  }\n};\n\nconst get_sl_task = (node, edges) => {\n  let next = get_transition_event(node, edges);\n  let t_e = next ? next.type.join(',') : '';\n  let catches = get_catches(node, edges).map(cat => ({\n    ErrorEquals: cat.type,\n    Next: cat.target.data.name,\n  }));\n  return {\n    Type: node.name,\n    Resource: node.data.resource,\n    TransitionEvent: t_e,\n    Catch: catches,\n    InputPath: node.data.input_path,\n    OutputPath: node.data.output_path,\n    ResourcePath: node.data.resource_path,\n    Next: next ? next.target.data.name : '',\n    End: node.data.is_end,\n  };\n};\n\nconst get_sl_choice = (node, edges) => {\n  let choices = get_choices(node, edges).map(choice => ({\n    StringEquals: choice.type.join(', '),\n    Next: choice.target.data.name,\n  }));\n  return {\n    Type: node.name,\n    Resource: node.data.resource,\n    Choices: choices,\n    InputPath: node.data.input_path,\n    OutputPath: node.data.output_path,\n  };\n};\n\nconst get_sl_wait = (node, edges) => {\n  let next = get_transition_event(node, edges);\n  let t_e = next ? next.type.join(',') : '';\n  let res = {\n    Type: node.name,\n    TransitionEvent: t_e,\n    Next: next ? next.target.data.name : '',\n    End: node.data.is_end,\n  };\n  if (node.data.seconds) res['Seconds'] = parseInt(node.data.seconds);\n  if (node.data.timestamp) res['Timestamp'] = node.data.timestamp;\n  if (node.data.timestamp_path) res['TimestampPath'] = node.data.timestamp_path;\n  if (node.data.seconds_path) res['SecondsPath'] = node.data.seconds_path;\n  return res;\n};\n\nconst get_catches = (node, edges) =>\n  edges.filter(edge => is_catch_event(edge, node));\n\nconst is_catch_event = (edge, node) =>\n  edge.source.data.name === node.data.name && edge.event.name === 'CatchEvent';\n\nconst get_choices = (node, edges) =>\n  edges.filter(edge => is_choice_event(edge, node));\n\nconst is_choice_event = (edge, node) =>\n  edge.source.data.name === node.data.name && edge.event.name === 'ChoiceEvent';\n\nconst get_transition_event = (node, edges) =>\n  edges.find(edge => is_trans_event(edge, node));\n\nconst is_trans_event = (edge, node) =>\n  edge.source.data.name === node.data.name &&\n  edge.event.name === 'TransitionEvent';\n\nconst graph_list = nodes =>\n  Object.keys(nodes).reduce((acc, key) => {\n    nodes[key].id = key;\n    acc.push(nodes[key]);\n    return acc;\n  }, []);\n\nconst graph_states = graph_list =>\n  graph_list.filter(node => !node.name.endsWith('Event'));\n\nconst graph_edges = (graph_states, graph) =>\n  graph_states.flatMap(node => get_node_edges(node, graph));\n\nconst to_d3_nodes = (state_nodes, i = 0) =>\n  state_nodes.map(node => {\n    return { id: i++, label: node.name, name: node.data.name };\n  });\n\nconst get_node_edges = (node, graph, nodes) =>\n  Object.keys(node.outputs).flatMap(key =>\n    get_node_outputs(key, node, graph, nodes)\n  );\n\nconst to_d3_edges = (graph_edges, nodes) =>\n  graph_edges.map(edge => {\n    let target = get_node_index(edge.target.data.name, nodes);\n    let source = get_node_index(edge.source.data.name, nodes);\n    return {\n      source: source,\n      target: target,\n      type: edge.type,\n    };\n  });\n\nexport function editor_states_language(graph) {\n  let n = graph_list(graph.nodes);\n  let state_nodes = graph_states(n);\n  let state_edges = graph_edges(state_nodes, graph);\n  return to_states_language(state_nodes, state_edges);\n}\n\nexport function editor_d3(graph) {\n  let n = graph_list(graph.nodes);\n  let state_nodes = graph_states(n);\n  let nodes = to_d3_nodes(state_nodes);\n  let state_edges = graph_edges(state_nodes, graph);\n  let edges = to_d3_edges(state_edges, nodes);\n  return { nodes: nodes, edges: edges };\n}\n\nfunction get_node_outputs(key, node, graph) {\n  let conns = node.outputs[key].connections;\n  return conns.reduce((acc, c) => {\n    let event = graph.nodes[c.node.toString()];\n    if (event.outputs.next.connections.length > 0) {\n      let target_id = event.outputs.next.connections[0].node.toString();\n      let target = graph.nodes[target_id];\n      acc.push({\n        source: node,\n        target: target,\n        event: event,\n        type: get_event_name(event),\n      });\n    }\n    return acc;\n  }, []);\n}\n\nfunction get_event_name(event) {\n  var name = '';\n  if (event.data.errors) {\n    name = event.data.errors;\n  } else if (event.data.event) {\n    name = event.data.event;\n  } else if (event.data.events) {\n    name = event.data.events;\n  }\n\n  return name.split(',').map(n => n.trim());\n}\n\nfunction get_node_index(name, nodes) {\n  return nodes.findIndex(n => n.name === name);\n}\n","const SET_D3_GRAPH = 'SET_D3_GRAPH';\nconst SET_STATES_LANGUAGE_GRAPH = 'SET_STATES_LANGUAGE_GRAPH';\nconst SET_STATES_LANGUAGE_GRAPH_EDITOR = 'SET_STATES_LANGUAGE_GRAPH_EDITOR';\nconst SET_GRAPH_LOADED = 'SET_GRAPH_LOADED';\nconst SET_START_AT = 'SET_START_AT';\nconst SET_COMMENT = 'SET_COMMENT';\n\n\nexport function doSetD3Graph(graph) {\n  return { type: SET_D3_GRAPH, graph: graph };\n}\n\nexport function doSetStatesLanguageGraph(graph) {\n  return { type: SET_STATES_LANGUAGE_GRAPH, graph: graph };\n}\n\nexport function doSetStatesLanguageGraphEditor(graph) {\n  return { type: SET_STATES_LANGUAGE_GRAPH_EDITOR };\n}\nexport function doSetGraphLoaded(graph_loaded) {\n  return { type: SET_GRAPH_LOADED, graph_loaded: graph_loaded };\n}\n\nexport function doSetStartAt(start_at) {\n  return { type: SET_START_AT, start_at: start_at }\n}\n\nexport function doSetComment(comment) {\n  return { type: SET_COMMENT, comment: comment }\n}\n","import Rete from 'rete';\nimport ReactRenderPlugin from 'rete-react-render-plugin';\nimport ConnectionPlugin from 'rete-connection-plugin';\nimport ContextMenuPlugin from 'rete-context-menu-plugin';\nimport AutoArrangePlugin from 'rete-auto-arrange-plugin';\nimport AreaPlugin from 'rete-area-plugin';\nimport MinimapPlugin from 'rete-minimap-plugin';\nimport { MyNode } from './Node';\nimport { TextControl, BooleanControl, IntegerControl } from './Control';\nimport {\n  editor_d3,\n  states_language_editor,\n  editor_states_language,\n} from './parser';\nimport { doSetD3Graph, doSetStatesLanguageGraph } from './actions';\nimport store from './store';\n\nvar transition_socket = new Rete.Socket('Transition Event');\nvar catch_socket = new Rete.Socket('Catch Event');\nvar choice_socket = new Rete.Socket('Choice Event');\nvar next_socket = new Rete.Socket('Next');\n\nclass TaskComponent extends Rete.Component {\n  constructor() {\n    super('Task');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('start', 'Start', next_socket, true);\n    var te = new Rete.Output(\n      'transition_event',\n      'Transition Event',\n      transition_socket\n    );\n    var ce = new Rete.Output('catch_events', 'Catch Events', catch_socket);\n    var name = new TextControl(this.editor, 'name', node);\n    var resource = new TextControl(this.editor, 'resource', node);\n    var input_path = new TextControl(this.editor, 'input_path', node);\n    var resource_path = new TextControl(this.editor, 'resource_path', node);\n    var output_path = new TextControl(this.editor, 'output_path', node);\n    var is_end = new BooleanControl(this.editor, 'is_end', node);\n    return node\n      .addInput(inp)\n      .addOutput(te)\n      .addOutput(ce)\n      .addControl(name)\n      .addControl(resource)\n      .addControl(input_path)\n      .addControl(resource_path)\n      .addControl(output_path)\n      .addControl(is_end);\n  }\n}\n\nclass ChoiceComponent extends Rete.Component {\n  constructor() {\n    super('Choice');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('start', 'Start', next_socket, true);\n    var ce = new Rete.Output('choice_events', 'Choice Events', choice_socket);\n    var resource = new TextControl(this.editor, 'resource', node);\n    var name = new TextControl(this.editor, 'name', node);\n    var input_path = new TextControl(this.editor, 'input_path', node);\n    var output_path = new TextControl(this.editor, 'output_path', node);\n\n    return node\n      .addInput(inp)\n      .addOutput(ce)\n      .addControl(name)\n      .addControl(resource)\n      .addControl(input_path)\n      .addControl(output_path);\n  }\n}\n\nclass WaitComponent extends Rete.Component {\n  constructor() {\n    super('Wait');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('start', 'Start', next_socket, true);\n    var te = new Rete.Output(\n      'transition_event',\n      'Transition Event',\n      transition_socket\n    );\n    var name = new TextControl(this.editor, 'name', node);\n    var seconds = new IntegerControl(this.editor, 'seconds', node);\n    var timestamp = new TextControl(this.editor, 'timestamp', node);\n    var seconds_path = new TextControl(this.editor, 'seconds_path', node);\n    var timestamp_path = new TextControl(this.editor, 'timestamp_path', node);\n    var is_end = new BooleanControl(this.editor, 'is_end', node);\n    return node\n      .addInput(inp)\n      .addOutput(te)\n      .addControl(name)\n      .addControl(seconds)\n      .addControl(timestamp)\n      .addControl(seconds_path)\n      .addControl(timestamp_path)\n      .addControl(is_end);\n  }\n}\nclass TransitionEventComponent extends Rete.Component {\n  constructor() {\n    super('TransitionEvent');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('event', '=', transition_socket, true);\n    var out = new Rete.Output('next', 'Next', next_socket);\n    var ctrl = new TextControl(this.editor, 'event', node);\n    return node\n      .addInput(inp)\n      .addOutput(out)\n      .addControl(ctrl);\n  }\n}\n\nclass CatchEventComponent extends Rete.Component {\n  constructor() {\n    super('CatchEvent');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('event', '=', catch_socket, true);\n    var out = new Rete.Output('next', 'Next', next_socket);\n    var ctrl = new TextControl(this.editor, 'event', node);\n    return node\n      .addInput(inp)\n      .addOutput(out)\n      .addControl(ctrl);\n  }\n}\n\nclass ChoiceEventComponent extends Rete.Component {\n  constructor() {\n    super('ChoiceEvent');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('event', '=', choice_socket);\n    var out = new Rete.Output('next', 'Next', next_socket);\n    var ctrl = new TextControl(this.editor, 'event', node);\n    return node\n      .addInput(inp)\n      .addOutput(out)\n      .addControl(ctrl);\n  }\n}\n\nexport const init = async (container, graph) => {\n  if (!container) return;\n  var components = [\n    new TaskComponent(),\n    new ChoiceComponent(),\n    new WaitComponent(),\n    new ChoiceEventComponent(),\n    new CatchEventComponent(),\n    new TransitionEventComponent(),\n  ];\n\n  var editor = new Rete.NodeEditor('states-language@0.1.0', container);\n  editor.use(ConnectionPlugin);\n  editor.use(ReactRenderPlugin, { component: MyNode });\n  editor.use(ContextMenuPlugin);\n  editor.use(AreaPlugin);\n  editor.use(MinimapPlugin);\n  editor.use(AutoArrangePlugin, { margin: { x: 50, y: 50 }, depth: 0 });\n\n  components.map(c => editor.register(c));\n\n  editor.on(\n    'process nodecreated noderemoved connectioncreated connectionremoved',\n    async () => {\n      let graph = editor.toJSON();\n      let d3_graph = editor_d3(graph);\n      let states_language_graph = editor_states_language(graph);\n      store.dispatch(doSetD3Graph(d3_graph));\n      store.dispatch(doSetStatesLanguageGraph(states_language_graph));\n    }\n  );\n\n  editor.fromJSON(states_language_editor(graph));\n\n  setTimeout(function() {\n    editor.view.resize();\n    editor.trigger('process');\n    editor.trigger('arrange');\n    AreaPlugin.zoomAt(editor);\n  }, 200);\n};\n","import React, { useEffect } from 'react';\nimport * as dagreD3 from 'dagre-d3';\nimport * as d3 from 'd3';\n\nfunction DagreD3({ width, height, edges, nodes, onClick }) {\n  let nodeTree, nodeTreeGroup;\n\n  useEffect(() => {\n    let g = new dagreD3.graphlib.Graph({ multigraph: true }).setGraph({});\n    nodes.forEach(function(st) {\n      g.setNode(st.name, { label: st.name });\n    });\n    edges.forEach(link => {\n      let name =\n        nodes[link.source].name +\n        '-' +\n        nodes[link.target].name +\n        '-' +\n        link.type;\n      g.setEdge(\n        nodes[link.source].name,\n        nodes[link.target].name,\n        { label: link.type.join(',') },\n        name\n      );\n    });\n\n    g.nodes().forEach(function(v) {\n      var node = g.node(v);\n      node.rx = node.ry = 5;\n    });\n\n    // Set up an SVG group so that we can translate the final graph.\n    let svg = d3.select(nodeTree);\n    let inner = d3.select(nodeTreeGroup);\n\n    var zoom = d3.zoom().on('zoom', function() {\n      inner.attr('transform', d3.event.transform);\n    });\n    svg.call(zoom);\n\n    var render = new dagreD3.render();\n\n    render(inner, g);\n\n    var initialScale = 0.7;\n    svg.call(zoom.transform, d3.zoomIdentity.scale(initialScale));\n\n    // svg.attr('height', g.graph().height * initialScale + 20);\n\n    svg.selectAll('.dagre-d3 .node').on('click', id => {\n      g.nodes().forEach(v => g.node(v).elem.classList.remove('selected'));\n      g.node(id).elem.classList.add('selected');\n    });\n  }, [edges, nodes, nodeTree, nodeTreeGroup, onClick]);\n\n  return (\n    <svg\n      className=\"dagre-d3\"\n      ref={r => (nodeTree = r)}\n      width={width}\n      height={height}\n    >\n      <g ref={r => (nodeTreeGroup = r)} />\n    </svg>\n  );\n}\n\nexport default DagreD3;\n","import React from 'react';\nimport { useSelector } from 'react-redux';\nimport DagreD3 from './DagreD3React';\n\nfunction Graph() {\n  const graph = useSelector(state => state.d3_graph);\n\n  return (\n    <div>\n      <DagreD3\n        edges={graph.edges}\n        nodes={graph.nodes}\n        width=\"100%\"\n        height=\"60vh\"\n      />\n    </div>\n  );\n}\n\nexport default Graph;\n","import React, { useEffect, useState } from 'react';\nimport { useSelector } from 'react-redux';\nimport {\n  doSetStatesLanguageGraph,\n  doSetStatesLanguageGraphEditor,\n  doSetStartAt,\n  doSetComment,\n  doSetGraphLoaded,\n} from './actions';\nimport Button from '@material-ui/core/Button';\nimport store from './store';\n\nfunction JSONDisplay() {\n  const graph = useSelector(state => state.states_language_graph);\n  const start_at = useSelector(state => state.start_at);\n  const comment = useSelector(state => state.comment);\n  const [display, set_display] = useState({\n    StartAt: start_at, \n    Comment: comment, \n    States: graph,\n  })\n\n  useEffect(() => {\n    set_display({StartAt: start_at, Comment: comment, States: graph});\n  }, [graph, start_at, comment])\n\n  const onChange = e => {\n    try {\n      let obj = JSON.parse(e.target.value);\n      set_display(obj);\n    } catch (e) {\n      console.log(e);\n      console.log('JSON is still invalid');\n    }\n    return true;\n  };\n\n  const update = e => {\n    store.dispatch(doSetGraphLoaded(false));\n    store.dispatch(doSetStatesLanguageGraph(display.States));\n    store.dispatch(doSetStartAt(display.StartAt));\n    store.dispatch(doSetComment(display.Comment));\n    store.dispatch(doSetStatesLanguageGraphEditor());\n    setTimeout(() => store.dispatch(doSetGraphLoaded(true)), 500);\n  };\n\n  return (\n    <div>\n      <Button variant=\"contained\" color=\"primary\" onClick={update}>\n        Reload\n      </Button>\n      <br />\n      <textarea\n        autoComplete=\"off\"\n        autoCorrect=\"off\"\n        autoCapitalize=\"off\"\n        spellCheck=\"false\"\n        cols=\"100\"\n        rows=\"50\"\n        value={JSON.stringify(display, undefined, 2)}\n        onChange={onChange}\n      />\n      <br />\n      <Button variant=\"contained\" color=\"primary\" onClick={update}>\n        Reload\n      </Button>\n    </div>\n  );\n}\n\nexport default JSONDisplay;\n","import React from 'react';\nimport clsx from 'clsx';\nimport { makeStyles } from '@material-ui/core/styles';\nimport CssBaseline from '@material-ui/core/CssBaseline';\nimport AppBar from '@material-ui/core/AppBar';\nimport Toolbar from '@material-ui/core/Toolbar';\nimport Typography from '@material-ui/core/Typography';\nimport IconButton from '@material-ui/core/IconButton';\nimport Container from '@material-ui/core/Container';\nimport Grid from '@material-ui/core/Grid';\nimport Paper from '@material-ui/core/Paper';\nimport { init } from './editor';\nimport Graph from './Graph';\nimport JSONDisplay from './JSONDisplay';\nimport { useSelector } from 'react-redux';\n\nconst drawerWidth = 240;\n\nconst useStyles = makeStyles(theme => ({\n  root: {\n    display: 'flex',\n  },\n  toolbar: {\n    paddingRight: 24, // keep right padding when drawer closed\n  },\n  toolbarIcon: {\n    display: 'flex',\n    alignItems: 'center',\n    justifyContent: 'flex-end',\n    padding: '0 8px',\n    ...theme.mixins.toolbar,\n  },\n  appBar: {\n    zIndex: theme.zIndex.drawer + 1,\n    transition: theme.transitions.create(['width', 'margin'], {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.leavingScreen,\n    }),\n  },\n  appBarShift: {\n    marginLeft: drawerWidth,\n    width: `calc(100% - ${drawerWidth}px)`,\n    transition: theme.transitions.create(['width', 'margin'], {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.enteringScreen,\n    }),\n  },\n  menuButton: {\n    marginRight: 36,\n  },\n  menuButtonHidden: {\n    display: 'none',\n  },\n  title: {\n    flexGrow: 1,\n  },\n  drawerPaper: {\n    position: 'relative',\n    whiteSpace: 'nowrap',\n    width: drawerWidth,\n    transition: theme.transitions.create('width', {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.enteringScreen,\n    }),\n  },\n  drawerPaperClose: {\n    overflowX: 'hidden',\n    transition: theme.transitions.create('width', {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.leavingScreen,\n    }),\n    width: theme.spacing(7),\n    [theme.breakpoints.up('sm')]: {\n      width: theme.spacing(9),\n    },\n  },\n  appBarSpacer: theme.mixins.toolbar,\n  content: {\n    flexGrow: 1,\n    height: '100vh',\n    overflow: 'auto',\n  },\n  container: {\n    paddingTop: theme.spacing(4),\n    paddingBottom: theme.spacing(4),\n  },\n  paper: {\n    padding: theme.spacing(2),\n    display: 'flex',\n    overflow: 'auto',\n    flexDirection: 'column',\n  },\n  fixedHeight: {\n    height: '70vh',\n  },\n}));\n\nfunction Homepage() {\n  const classes = useStyles();\n  const fixedHeightPaper = clsx(classes.paper, classes.fixedHeight);\n  const graph = useSelector(state => state.states_language_graph_editor);\n  const graph_loaded = useSelector(state => state.graph_loaded);\n\n  return (\n    <div className={classes.root}>\n      <CssBaseline />\n      <AppBar position=\"absolute\" className={clsx(classes.appBar)}>\n        <Toolbar className={classes.toolbar}>\n          <Typography\n            component=\"h1\"\n            variant=\"h6\"\n            color=\"inherit\"\n            noWrap\n            className={classes.title}\n          >\n            States Language Editor\n          </Typography>\n          <IconButton color=\"inherit\"></IconButton>\n        </Toolbar>\n      </AppBar>\n      <main className={classes.content}>\n        <div className={classes.appBarSpacer} />\n        <Container maxWidth=\"xl\" className={classes.container}>\n          <Grid container spacing={3}>\n            <Grid item xs={12} md={8} lg={8}>\n              <Paper className={fixedHeightPaper}>\n                <h2>Editor</h2>\n                {graph_loaded ? \n                  <div ref={el => init(el, graph)}></div> :\n                  <div>Loading...</div>\n                }\n              </Paper>\n            </Grid>\n            <Grid item xs={12} md={4} lg={4}>\n              <Paper className={fixedHeightPaper}>\n                <h2>Graph</h2>\n                <Graph />\n              </Paper>\n            </Grid>\n            <Grid item xs={12}>\n              <Paper className={classes.paper}>\n                <h2>JSON</h2> \n                <JSONDisplay />\n              </Paper>\n            </Grid>\n          </Grid>\n        </Container>\n      </main>\n    </div>\n  );\n}\n\nexport default Homepage;\n","import React from 'react';\nimport Homepage from './Homepage.js';\nimport { Switch, Route, Router } from 'react-router-dom';\nimport { createBrowserHistory } from 'history';\n\nexport const history = createBrowserHistory();\n\nconst App = () => (\n  <div className=\"App\">\n    <Router history={history}>\n      <Switch>\n        <Route path=\"/\" component={Homepage} />\n        <Route path=\"/states-language-editor\" component={Homepage} />\n      </Switch>\n    </Router>\n  </div>\n);\n\nexport default App;\n","// This optional code is used to register a service worker.\n// register() is not called by default.\n\n// This lets the app load faster on subsequent visits in production, and gives\n// it offline capabilities. However, it also means that developers (and users)\n// will only see deployed updates on subsequent visits to a page, after all the\n// existing tabs open on the page have been closed, since previously cached\n// resources are updated in the background.\n\n// To learn more about the benefits of this model and instructions on how to\n// opt-in, read https://bit.ly/CRA-PWA\n\nconst isLocalhost = Boolean(\n  window.location.hostname === 'localhost' ||\n    // [::1] is the IPv6 localhost address.\n    window.location.hostname === '[::1]' ||\n    // 127.0.0.0/8 are considered localhost for IPv4.\n    window.location.hostname.match(\n      /^127(?:\\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/\n    )\n);\n\nexport function register(config) {\n  if (process.env.NODE_ENV === 'production' && 'serviceWorker' in navigator) {\n    // The URL constructor is available in all browsers that support SW.\n    const publicUrl = new URL(process.env.PUBLIC_URL, window.location.href);\n    if (publicUrl.origin !== window.location.origin) {\n      // Our service worker won't work if PUBLIC_URL is on a different origin\n      // from what our page is served on. This might happen if a CDN is used to\n      // serve assets; see https://github.com/facebook/create-react-app/issues/2374\n      return;\n    }\n\n    window.addEventListener('load', () => {\n      const swUrl = `${process.env.PUBLIC_URL}/service-worker.js`;\n\n      if (isLocalhost) {\n        // This is running on localhost. Let's check if a service worker still exists or not.\n        checkValidServiceWorker(swUrl, config);\n\n        // Add some additional logging to localhost, pointing developers to the\n        // service worker/PWA documentation.\n        navigator.serviceWorker.ready.then(() => {\n          console.log(\n            'This web app is being served cache-first by a service ' +\n              'worker. To learn more, visit https://bit.ly/CRA-PWA'\n          );\n        });\n      } else {\n        // Is not localhost. Just register service worker\n        registerValidSW(swUrl, config);\n      }\n    });\n  }\n}\n\nfunction registerValidSW(swUrl, config) {\n  navigator.serviceWorker\n    .register(swUrl)\n    .then(registration => {\n      registration.onupdatefound = () => {\n        const installingWorker = registration.installing;\n        if (installingWorker == null) {\n          return;\n        }\n        installingWorker.onstatechange = () => {\n          if (installingWorker.state === 'installed') {\n            if (navigator.serviceWorker.controller) {\n              // At this point, the updated precached content has been fetched,\n              // but the previous service worker will still serve the older\n              // content until all client tabs are closed.\n              console.log(\n                'New content is available and will be used when all ' +\n                  'tabs for this page are closed. See https://bit.ly/CRA-PWA.'\n              );\n\n              // Execute callback\n              if (config && config.onUpdate) {\n                config.onUpdate(registration);\n              }\n            } else {\n              // At this point, everything has been precached.\n              // It's the perfect time to display a\n              // \"Content is cached for offline use.\" message.\n              console.log('Content is cached for offline use.');\n\n              // Execute callback\n              if (config && config.onSuccess) {\n                config.onSuccess(registration);\n              }\n            }\n          }\n        };\n      };\n    })\n    .catch(error => {\n      console.error('Error during service worker registration:', error);\n    });\n}\n\nfunction checkValidServiceWorker(swUrl, config) {\n  // Check if the service worker can be found. If it can't reload the page.\n  fetch(swUrl, {\n    headers: { 'Service-Worker': 'script' }\n  })\n    .then(response => {\n      // Ensure service worker exists, and that we really are getting a JS file.\n      const contentType = response.headers.get('content-type');\n      if (\n        response.status === 404 ||\n        (contentType != null && contentType.indexOf('javascript') === -1)\n      ) {\n        // No service worker found. Probably a different app. Reload the page.\n        navigator.serviceWorker.ready.then(registration => {\n          registration.unregister().then(() => {\n            window.location.reload();\n          });\n        });\n      } else {\n        // Service worker found. Proceed as normal.\n        registerValidSW(swUrl, config);\n      }\n    })\n    .catch(() => {\n      console.log(\n        'No internet connection found. App is running in offline mode.'\n      );\n    });\n}\n\nexport function unregister() {\n  if ('serviceWorker' in navigator) {\n    navigator.serviceWorker.ready.then(registration => {\n      registration.unregister();\n    });\n  }\n}\n","import React from 'react';\nimport ReactDOM from 'react-dom';\nimport { Provider } from 'react-redux';\nimport store from './store';\nimport App from './App';\nimport * as serviceWorker from './serviceWorker';\n\nimport './styles.css';\n\nconst do_render = () =>\n  ReactDOM.render(\n    <Provider store={store}>\n      <App />\n    </Provider>,\n    document.getElementById('root')\n  );\n\n// If you want your app to work offline and load faster, you can change\n// unregister() to register() below. Note this comes with some pitfalls.\n// Learn more about service workers: https://bit.ly/CRA-PWA\nserviceWorker.unregister();\n\ndo_render();\n"],"sourceRoot":""}