static/js/main.a2e71a3f.chunk.js.map
{"version":3,"sources":["store.js","Node.jsx","Control.jsx","parser.js","actions.js","editor.js","DagreD3React.js","Graph.js","JSONDisplay.js","Homepage.js","App.js","serviceWorker.js","index.js"],"names":["store","createStore","state","action","new_state","Object","objectSpread2","type","editor_graph","graph","d3_graph","str","JSON","stringify","undefined","states_language_graph","nodes","edges","MyNode","_Node","classCallCheck","this","possibleConstructorReturn","getPrototypeOf","apply","arguments","inherits","createClass","key","value","_this$props","props","node","bindSocket","bindControl","_this$state","outputs","controls","inputs","selected","react_default","a","createElement","className","concat","name","map","input","react_render_plugin_esm","socket","io","innerRef","showControl","control","output","Node","TextControl","emitter","_this","default_value","length","readonly","call","component","initial","data","onChange","v","setValue","trigger","placeholder","val","putData","update","Rete","Control","_ref","ref","addEventListener","e","stopPropagation","target","IntegerControl","_this2","_ref3","BooleanControl","_this3","_ref5","checked","to_states_language","reduce","acc","get_states_language_state","get_sl_task","get_sl_wait","get_sl_choice","next","get_transition_event","t_e","join","catches","get_catches","cat","ErrorEquals","Next","Type","Resource","resource","TransitionEvent","Catch","InputPath","input_path","OutputPath","output_path","ResourcePath","resource_path","End","is_end","choices","get_choices","choice","StringEquals","Choices","res","seconds","parseInt","timestamp","timestamp_path","seconds_path","filter","edge","is_catch_event","source","event","is_choice_event","find","is_trans_event","graph_list","keys","graph_states","endsWith","graph_edges","flatMap","get_node_edges","to_d3_nodes","state_nodes","i","id","label","connections","c","toString","target_id","push","get_event_name","get_node_outputs","to_d3_edges","get_node_index","editor_states_language","n","state_edges","StartAt","States","editor_d3","errors","events","split","trim","findIndex","SET_D3_GRAPH","SET_STATES_LANGUAGE_GRAPH","doSetD3Graph","doSetStatesLanguageGraph","transition_socket","Socket","catch_socket","choice_socket","next_socket","TaskComponent","inp","Input","te","Output","ce","editor","addInput","addOutput","addControl","Component","ChoiceComponent","WaitComponent","TransitionEventComponent","out","ctrl","CatchEventComponent","ChoiceEventComponent","DagreD3","nodeTree","nodeTreeGroup","width","height","onClick","useEffect","g","dagreD3","Graph","multigraph","setGraph","forEach","st","setNode","link","setEdge","rx","ry","svg","d3","inner","zoom","on","attr","transform","render","translate","scale","selectAll","elem","classList","remove","add","r","useSelector","DagreD3React","JSONDisplay","rows","dispatch","useStyles","makeStyles","theme","root","display","toolbar","paddingRight","toolbarIcon","alignItems","justifyContent","padding","mixins","appBar","zIndex","drawer","transition","transitions","create","easing","sharp","duration","leavingScreen","appBarShift","marginLeft","enteringScreen","menuButton","marginRight","menuButtonHidden","title","flexGrow","drawerPaper","position","whiteSpace","drawerPaperClose","defineProperty","overflowX","spacing","breakpoints","up","appBarSpacer","content","overflow","container","paddingTop","paddingBottom","paper","flexDirection","fixedHeight","Homepage","classes","fixedHeightPaper","clsx","CssBaseline","AppBar","Toolbar","Typography","variant","color","noWrap","IconButton","Container","maxWidth","Grid","item","xs","md","lg","Paper","el","components","regenerator_default","async","_context2","prev","NodeEditor","use","ConnectionPlugin","ReactRenderPlugin","ContextMenuPlugin","AreaPlugin","MinimapPlugin","register","_context","console","log","toJSON","stop","fromJSON","view","resize","setTimeout","zoomAt","init","src_Graph","src_JSONDisplay","history","createBrowserHistory","App","react_router","path","Boolean","window","location","hostname","match","navigator","serviceWorker","ready","then","registration","unregister","ReactDOM","es","src_App","document","getElementById"],"mappings":"6vFAgCA,IAEeA,EAFHC,YAxBZ,SAAqBC,EAAOC,GAC1B,IAAIC,EAASC,OAAAC,EAAA,EAAAD,CAAA,GAAQH,GACrB,OAAQC,EAAOI,MACb,IAAK,mBACHH,EAAUI,aAAeL,EAAOM,MAChC,MACF,IAAK,eACHL,EAAUM,SAAWP,EAAOM,MAC5B,MACF,IAAK,4BACH,IAAIE,EAAM,GAERA,EAD0B,kBAAjBR,EAAOM,MACVN,EAAOM,MAEPG,KAAKC,UAAUV,EAAOM,WAAOK,EAAW,GAEhDV,EAAUW,sBAAwBJ,EAKtC,OAAOP,GA3BY,CACnBI,aAAc,GACdE,SAAU,CAAEM,MAAO,GAAIC,MAAO,IAC9BF,sBAAuB,yNCFZG,EAAb,SAAAC,GAAA,SAAAD,IAAA,OAAAb,OAAAe,EAAA,EAAAf,CAAAgB,KAAAH,GAAAb,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAAa,GAAAM,MAAAH,KAAAI,YAAA,OAAApB,OAAAqB,EAAA,EAAArB,CAAAa,EAAAC,GAAAd,OAAAsB,EAAA,EAAAtB,CAAAa,EAAA,EAAAU,IAAA,SAAAC,MAAA,WACW,IAAAC,EACmCT,KAAKU,MAAvCC,EADDF,EACCE,KAAMC,EADPH,EACOG,WAAYC,EADnBJ,EACmBI,YADnBC,EAEyCd,KAAKnB,MAA7CkC,EAFDD,EAECC,QAASC,EAFVF,EAEUE,SAAUC,EAFpBH,EAEoBG,OAAQC,EAF5BJ,EAE4BI,SACnC,OACEC,EAAAC,EAAAC,cAAA,OAAKC,UAAS,QAAAC,OAAUL,EAAV,KAAAK,OAAsBZ,EAAKa,OACvCL,EAAAC,EAAAC,cAAA,OAAKC,UAAU,SAASX,EAAKa,MAE5BP,EAAOQ,IAAI,SAAAC,GAAK,OACfP,EAAAC,EAAAC,cAAA,OAAKC,UAAU,QAAQf,IAAKmB,EAAMnB,KAChCY,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACEzC,KAAK,QACL0C,OAAQF,EAAME,OACdC,GAAIH,EACJI,SAAUlB,KAEVc,EAAMK,eACNZ,EAAAC,EAAAC,cAAA,OAAKC,UAAU,eAAeI,EAAMF,MAErCE,EAAMK,eACLZ,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACEL,UAAU,gBACVU,QAASN,EAAMM,QACfF,SAAUjB,OAMjBG,EAASS,IAAI,SAAAO,GAAO,OACnBb,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACEL,UAAU,UACVf,IAAKyB,EAAQzB,IACbyB,QAASA,EACTF,SAAUjB,MAIbE,EAAQU,IAAI,SAAAQ,GAAM,OACjBd,EAAAC,EAAAC,cAAA,OAAKC,UAAU,SAASf,IAAK0B,EAAO1B,KAClCY,EAAAC,EAAAC,cAAA,OAAKC,UAAU,gBAAgBW,EAAOT,MACtCL,EAAAC,EAAAC,cAACM,EAAA,EAAD,CACEzC,KAAK,SACL0C,OAAQK,EAAOL,OACfC,GAAII,EACJH,SAAUlB,YA7CxBf,EAAA,CAA4BqC,KCAtBC,cAYJ,SAAAA,EAAYC,EAAS7B,EAAKI,GAA4C,IAAA0B,EAAtCC,EAAsClC,UAAAmC,OAAA,QAAA9C,IAAAW,UAAA,GAAAA,UAAA,GAAtB,GAAIoC,EAAkBpC,UAAAmC,OAAA,QAAA9C,IAAAW,UAAA,IAAAA,UAAA,GAAApB,OAAAe,EAAA,EAAAf,CAAAgB,KAAAmC,IACpEE,EAAArD,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAAmD,GAAAM,KAAAzC,KAAMO,KACD6B,QAAUA,EACfC,EAAK9B,IAAMA,EACX8B,EAAKK,UAAYP,EAAYO,UAE7B,IAAMC,EAAUhC,EAAKiC,KAAKrC,IAAQ+B,EANkC,OAQpE3B,EAAKiC,KAAKrC,GAAOoC,EACjBN,EAAK3B,MAAQ,CACX8B,WACAhC,MAAOmC,EACPE,SAAU,SAAAC,GACRT,EAAKU,SAASD,GACdT,EAAKD,QAAQY,QAAQ,YAEvBC,YAAa1C,GAhBqD8B,wEAoB7Da,GACPlD,KAAKU,MAAMF,MAAQ0C,EACnBlD,KAAKmD,QAAQnD,KAAKO,IAAK2C,GACvBlD,KAAKoD,gBAnCiBC,IAAKC,SAAzBnB,EACGO,UAAY,SAAAa,GAAA,IAAG/C,EAAH+C,EAAG/C,MAAOqC,EAAVU,EAAUV,SAAUI,EAApBM,EAAoBN,YAApB,OACjB9B,EAAAC,EAAAC,cAAA,SACEb,MAAOA,EACPyC,YAAaA,EACbO,IAAK,SAAAA,GACHA,GAAOA,EAAIC,iBAAiB,cAAe,SAAAC,GAAC,OAAIA,EAAEC,qBAEpDd,SAAU,SAAAa,GAAC,OAAIb,EAASa,EAAEE,OAAOpD,eA+BjCqD,cAaJ,SAAAA,EAAYzB,EAAS7B,EAAKI,GAAwB,IAAAmD,EAAlBtB,EAAkBpC,UAAAmC,OAAA,QAAA9C,IAAAW,UAAA,IAAAA,UAAA,GAAApB,OAAAe,EAAA,EAAAf,CAAAgB,KAAA6D,IAChDC,EAAA9E,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAA6E,GAAApB,KAAAzC,KAAMO,KACD6B,QAAUA,EACf0B,EAAKvD,IAAMA,EACXuD,EAAKpB,UAAYmB,EAAenB,UAEhC,IAAMC,EAAUhC,EAAKiC,KAAKrC,IAAQ,GANc,OAQhDI,EAAKiC,KAAKrC,GAAOoC,EACjBmB,EAAKpD,MAAQ,CACX8B,WACAhC,MAAOmC,EACPE,SAAU,SAAAC,GACRgB,EAAKf,SAASD,GACdgB,EAAK1B,QAAQY,QAAQ,YAEvBC,YAAa1C,GAhBiCuD,wEAoBzCZ,GACPlD,KAAKU,MAAMF,MAAQ0C,EACnBlD,KAAKmD,QAAQnD,KAAKO,IAAK2C,GACvBlD,KAAKoD,gBApCoBC,IAAKC,SAA5BO,EACGnB,UAAY,SAAAqB,GAAA,IAAGvD,EAAHuD,EAAGvD,MAAOqC,EAAVkB,EAAUlB,SAAUI,EAApBc,EAAoBd,YAApB,OACjB9B,EAAAC,EAAAC,cAAA,SACEnC,KAAK,SACLsB,MAAOA,EACPyC,YAAaA,EACbO,IAAK,SAAAA,GACHA,GAAOA,EAAIC,iBAAiB,cAAe,SAAAC,GAAC,OAAIA,EAAEC,qBAEpDd,SAAU,SAAAa,GAAC,OAAIb,EAASa,EAAEE,OAAOpD,eA+BjCwD,cAaJ,SAAAA,EAAY5B,EAAS7B,EAAKI,GAAwB,IAAAsD,EAAlBzB,EAAkBpC,UAAAmC,OAAA,QAAA9C,IAAAW,UAAA,IAAAA,UAAA,GAAApB,OAAAe,EAAA,EAAAf,CAAAgB,KAAAgE,IAChDC,EAAAjF,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAAgF,GAAAvB,KAAAzC,KAAMO,KACD6B,QAAUA,EACf6B,EAAK1D,IAAMA,EACX0D,EAAKvB,UAAYsB,EAAetB,UAEhC,IAAMC,EAAUhC,EAAKiC,KAAKrC,KAAQ,EANc,OAQhDI,EAAKiC,KAAKrC,GAAOoC,EACjBsB,EAAKvD,MAAQ,CACX8B,WACAhC,MAAOmC,EACPE,SAAU,SAAAC,GACRmB,EAAKlB,SAASD,GACdmB,EAAK7B,QAAQY,QAAQ,YAEvBC,YAAa1C,GAhBiC0D,wEAoBzCf,GACPlD,KAAKU,MAAMF,MAAQ0C,EACnBlD,KAAKmD,QAAQnD,KAAKO,IAAK2C,GACvBlD,KAAKoD,gBApCoBC,IAAKC,SAA5BU,EACGtB,UAAY,SAAAwB,GAAA,IAAG1D,EAAH0D,EAAG1D,MAAOqC,EAAVqB,EAAUrB,SAAUI,EAApBiB,EAAoBjB,YAApB,OACjB9B,EAAAC,EAAAC,cAAA,aAAOF,EAAAC,EAAAC,cAAA,SACLnC,KAAK,WACLsB,MAAOyC,EACPkB,QAAS3D,EACTgD,IAAK,SAAAA,GACHA,GAAOA,EAAIC,iBAAiB,cAAe,SAAAC,GAAC,OAAIA,EAAEC,qBAEpDd,SAAU,SAAAa,GAAC,OAAIb,EAASa,EAAEE,OAAOO,YAChClB,iBC5FDmB,EAAqB,SAACzE,EAAOC,GACjC,OAAOD,EAAM0E,OAAO,SAACC,EAAK3D,GAExB,OADA2D,EAAI3D,EAAKiC,KAAKpB,MAAQ+C,EAA0B5D,EAAMf,GAC/C0E,GACN,KAGCC,EAA4B,SAAC5D,EAAMf,GACvC,OAAQe,EAAKa,MACX,IAAK,OACH,OAAOgD,EAAY7D,EAAMf,GAC3B,IAAK,OACH,OAAO6E,EAAY9D,EAAMf,GAC3B,IAAK,SACH,OAAO8E,EAAc/D,EAAMf,GAC7B,QACE,MAAO,KAIP4E,EAAc,SAAC7D,EAAMf,GACzB,IAAI+E,EAAOC,EAAqBjE,EAAMf,GAClCiF,EAAMF,EAAOA,EAAKzF,KAAK4F,KAAK,KAAO,GACnCC,EAAUC,EAAYrE,EAAMf,GAAO6B,IAAI,SAAAwD,GAAG,MAAK,CACjDC,YAAaD,EAAI/F,KACjBiG,KAAMF,EAAIrB,OAAOhB,KAAKpB,QAExB,MAAO,CACL4D,KAAMzE,EAAKa,KACX6D,SAAU1E,EAAKiC,KAAK0C,SACpBC,gBAAiBV,EACjBW,MAAOT,EACPU,UAAW9E,EAAKiC,KAAK8C,WACrBC,WAAYhF,EAAKiC,KAAKgD,YACtBC,aAAclF,EAAKiC,KAAKkD,cACxBX,KAAMR,EAAOA,EAAKf,OAAOhB,KAAKpB,KAAO,GACrCuE,IAAKpF,EAAKiC,KAAKoD,SAIbtB,EAAgB,SAAC/D,EAAMf,GAC3B,IAAIqG,EAAUC,EAAYvF,EAAMf,GAAO6B,IAAI,SAAA0E,GAAM,MAAK,CACpDC,aAAcD,EAAOjH,KAAK4F,KAAK,KAC/BK,KAAMgB,EAAOvC,OAAOhB,KAAKpB,QAE3B,MAAO,CACL4D,KAAMzE,EAAKa,KACX6D,SAAU1E,EAAKiC,KAAK0C,SACpBe,QAASJ,EACTR,UAAW9E,EAAKiC,KAAK8C,WACrBC,WAAYhF,EAAKiC,KAAKgD,cAIpBnB,EAAc,SAAC9D,EAAMf,GACzB,IAAI+E,EAAOC,EAAqBjE,EAAMf,GAClCiF,EAAMF,EAAOA,EAAKzF,KAAK4F,KAAK,KAAO,GACnCwB,EAAM,CACRlB,KAAMzE,EAAKa,KACX+D,gBAAiBV,EACjBM,KAAMR,EAAOA,EAAKf,OAAOhB,KAAKpB,KAAO,GACrCuE,IAAKpF,EAAKiC,KAAKoD,QAMjB,OAJIrF,EAAKiC,KAAK2D,UAASD,EAAG,QAAcE,SAAS7F,EAAKiC,KAAK2D,UACvD5F,EAAKiC,KAAK6D,YAAWH,EAAG,UAAgB3F,EAAKiC,KAAK6D,WAClD9F,EAAKiC,KAAK8D,iBAAgBJ,EAAG,cAAoB3F,EAAKiC,KAAK8D,gBAC3D/F,EAAKiC,KAAK+D,eAAcL,EAAG,YAAkB3F,EAAKiC,KAAK+D,cACpDL,GAGHtB,EAAc,SAACrE,EAAMf,GAAP,OAClBA,EAAMgH,OAAO,SAAAC,GAAI,OAAIC,EAAeD,EAAMlG,MAEtCmG,EAAiB,SAACD,EAAMlG,GAAP,OACrBkG,EAAKE,OAAOnE,KAAKpB,OAASb,EAAKiC,KAAKpB,MAA4B,eAApBqF,EAAKG,MAAMxF,MAEnD0E,EAAc,SAACvF,EAAMf,GAAP,OAClBA,EAAMgH,OAAO,SAAAC,GAAI,OAAII,EAAgBJ,EAAMlG,MAEvCsG,EAAkB,SAACJ,EAAMlG,GAAP,OACtBkG,EAAKE,OAAOnE,KAAKpB,OAASb,EAAKiC,KAAKpB,MAA4B,gBAApBqF,EAAKG,MAAMxF,MAEnDoD,EAAuB,SAACjE,EAAMf,GAAP,OAC3BA,EAAMsH,KAAK,SAAAL,GAAI,OAAIM,EAAeN,EAAMlG,MAEpCwG,EAAiB,SAACN,EAAMlG,GAAP,OACrBkG,EAAKE,OAAOnE,KAAKpB,OAASb,EAAKiC,KAAKpB,MAChB,oBAApBqF,EAAKG,MAAMxF,MAEP4F,EAAa,SAAAhI,GAAK,OACtBJ,OAAOqI,KAAKjI,EAAMO,OAAO8B,IAAI,SAAAlB,GAAG,OAAInB,EAAMO,MAAMY,MAE5C+G,EAAe,SAAAF,GAAU,OAC7BA,EAAWR,OAAO,SAAAjG,GAAI,OAAKA,EAAKa,KAAK+F,SAAS,YAE1CC,GAAc,SAACF,EAAclI,GAAf,OAClBkI,EAAaG,QAAQ,SAAA9G,GAAI,OAAI+G,GAAe/G,EAAMvB,MAE9CuI,GAAc,SAACC,GAAD,IAAcC,EAAdzH,UAAAmC,OAAA,QAAA9C,IAAAW,UAAA,GAAAA,UAAA,GAAkB,EAAlB,OAClBwH,EAAYnG,IAAI,SAAAd,GACd,MAAO,CAAEmH,GAAID,IAAKE,MAAOpH,EAAKa,KAAMA,KAAMb,EAAKiC,KAAKpB,SAGlDkG,GAAiB,SAAC/G,EAAMvB,EAAOO,GAAd,OACrBX,OAAOqI,KAAK1G,EAAKI,SAAS0G,QAAQ,SAAAlH,GAAG,OAkCvC,SAA0BA,EAAKI,EAAMvB,GAEnC,OADYuB,EAAKI,QAAQR,GAAKyH,YACjB3D,OAAO,SAACC,EAAK2D,GACxB,IAAIjB,EAAQ5H,EAAMO,MAAMsI,EAAEtH,KAAKuH,YAC/B,GAAIlB,EAAMjG,QAAQ4D,KAAKqD,YAAYzF,OAAS,EAAG,CAC7C,IAAI4F,EAAYnB,EAAMjG,QAAQ4D,KAAKqD,YAAY,GAAGrH,KAAKuH,WACnDtE,EAASxE,EAAMO,MAAMwI,GACzB7D,EAAI8D,KAAK,CACPrB,OAAQpG,EACRiD,OAAQA,EACRoD,MAAOA,EACP9H,KAAMmJ,GAAerB,KAGzB,OAAO1C,GACN,IAhDDgE,CAAiB/H,EAAKI,EAAMvB,MAG1BmJ,GAAc,SAACf,EAAa7H,GAAd,OAClB6H,EAAY/F,IAAI,SAAAoF,GACd,IAAIjD,EAAS4E,GAAe3B,EAAKjD,OAAOhB,KAAKpB,KAAM7B,GAEnD,MAAO,CACLoH,OAFWyB,GAAe3B,EAAKE,OAAOnE,KAAKpB,KAAM7B,GAGjDiE,OAAQA,EACR1E,KAAM2H,EAAK3H,SAIV,SAASuJ,GAAuBrJ,GACrC,IAAIsJ,EAAItB,EAAWhI,GACfwI,EAAcN,EAAaoB,GAC3BC,EAAcnB,GAAYI,EAAaxI,GAC3C,MAAO,CACLwJ,QAAS,OACTC,OAAQzE,EAAmBwD,EAAae,IAIrC,SAASG,GAAU1J,GACxB,IAAIsJ,EAAItB,EAAWhI,GACfwI,EAAcN,EAAaoB,GAC3B/I,EAAQgI,GAAYC,GACpBe,EAAcnB,GAAYI,EAAaxI,GAE3C,MAAO,CAAEO,MAAOA,EAAOC,MADX2I,GAAYI,EAAahJ,IAsBvC,SAAS0I,GAAerB,GACtB,IAAIxF,EAAO,GASX,OARIwF,EAAMpE,KAAKmG,OACbvH,EAAOwF,EAAMpE,KAAKmG,OACT/B,EAAMpE,KAAKoE,MACpBxF,EAAOwF,EAAMpE,KAAKoE,MACTA,EAAMpE,KAAKoG,SACpBxH,EAAOwF,EAAMpE,KAAKoG,QAGbxH,EAAKyH,MAAM,KAAKxH,IAAI,SAAAiH,GAAC,OAAIA,EAAEQ,SAGpC,SAASV,GAAehH,EAAM7B,GAC5B,OAAOA,EAAMwJ,UAAU,SAAAT,GAAC,OAAIA,EAAElH,OAASA,IC1KzC,IAAM4H,GAAe,eAEfC,GAA4B,4BAE3B,SAASC,GAAalK,GAC3B,MAAO,CAAEF,KAAMkK,GAAchK,MAAOA,GAO/B,SAASmK,GAAyBnK,GACvC,MAAO,CAAEF,KAAMmK,GAA2BjK,MAAOA,GCAnD,IAAIoK,GAAoB,IAAInG,IAAKoG,OAAO,oBACpCC,GAAe,IAAIrG,IAAKoG,OAAO,eAC/BE,GAAgB,IAAItG,IAAKoG,OAAO,gBAChCG,GAAc,IAAIvG,IAAKoG,OAAO,QAE5BI,eACJ,SAAAA,IAAe,OAAA7K,OAAAe,EAAA,EAAAf,CAAAgB,KAAA6J,GAAA7K,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAA6K,GAAApH,KAAAzC,KACP,8EAGAW,GACN,IAAImJ,EAAM,IAAIzG,IAAK0G,MAAM,QAAS,QAASH,IAAa,GACpDI,EAAK,IAAI3G,IAAK4G,OAChB,mBACA,mBACAT,IAEEU,EAAK,IAAI7G,IAAK4G,OAAO,eAAgB,eAAgBP,IACrDlI,EAAO,IAAIW,EAAYnC,KAAKmK,OAAQ,OAAQxJ,GAC5C2E,EAAW,IAAInD,EAAYnC,KAAKmK,OAAQ,WAAYxJ,GACpD+E,EAAa,IAAIvD,EAAYnC,KAAKmK,OAAQ,aAAcxJ,EAAM,KAC9DmF,EAAgB,IAAI3D,EACtBnC,KAAKmK,OACL,gBACAxJ,EACA,KAEEiF,EAAc,IAAIzD,EAAYnC,KAAKmK,OAAQ,cAAexJ,EAAM,KAChEqF,EAAS,IAAIhC,EAAehE,KAAKmK,OAAQ,SAAUxJ,GACvD,OAAOA,EACJyJ,SAASN,GACTO,UAAUL,GACVK,UAAUH,GACVI,WAAW9I,GACX8I,WAAWhF,GACXgF,WAAW5E,GACX4E,WAAWxE,GACXwE,WAAW1E,GACX0E,WAAWtE,UAjCU3C,IAAKkH,WAqC3BC,eACJ,SAAAA,IAAe,OAAAxL,OAAAe,EAAA,EAAAf,CAAAgB,KAAAwK,GAAAxL,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAAwL,GAAA/H,KAAAzC,KACP,gFAGAW,GACN,IAAImJ,EAAM,IAAIzG,IAAK0G,MAAM,QAAS,QAASH,IAAa,GACpDM,EAAK,IAAI7G,IAAK4G,OAAO,gBAAiB,gBAAiBN,IACvDrE,EAAW,IAAInD,EAAYnC,KAAKmK,OAAQ,WAAYxJ,GACpDa,EAAO,IAAIW,EAAYnC,KAAKmK,OAAQ,OAAQxJ,GAC5C+E,EAAa,IAAIvD,EAAYnC,KAAKmK,OAAQ,aAAcxJ,EAAM,KAC9DiF,EAAc,IAAIzD,EAAYnC,KAAKmK,OAAQ,cAAexJ,EAAM,KAEpE,OAAOA,EACJyJ,SAASN,GACTO,UAAUH,GACVI,WAAW9I,GACX8I,WAAWhF,GACXgF,WAAW5E,GACX4E,WAAW1E,UAnBYvC,IAAKkH,WAuB7BE,eACJ,SAAAA,IAAe,OAAAzL,OAAAe,EAAA,EAAAf,CAAAgB,KAAAyK,GAAAzL,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAAyL,GAAAhI,KAAAzC,KACP,8EAGAW,GACN,IAAImJ,EAAM,IAAIzG,IAAK0G,MAAM,QAAS,QAASH,IAAa,GACpDI,EAAK,IAAI3G,IAAK4G,OAChB,mBACA,mBACAT,IAEEhI,EAAO,IAAIW,EAAYnC,KAAKmK,OAAQ,OAAQxJ,GAC5C4F,EAAU,IAAI1C,EAAe7D,KAAKmK,OAAQ,UAAWxJ,GACrD8F,EAAY,IAAItE,EAAYnC,KAAKmK,OAAQ,YAAaxJ,GACtDgG,EAAe,IAAIxE,EAAYnC,KAAKmK,OAAQ,eAAgBxJ,GAC5D+F,EAAiB,IAAIvE,EAAYnC,KAAKmK,OAAQ,iBAAkBxJ,GAChEqF,EAAS,IAAIhC,EAAehE,KAAKmK,OAAQ,SAAUxJ,GACvD,OAAOA,EACJyJ,SAASN,GACTO,UAAUL,GACVM,WAAW9I,GACX8I,WAAW/D,GACX+D,WAAW7D,GACX6D,WAAW3D,GACX2D,WAAW5D,GACX4D,WAAWtE,UA1BU3C,IAAKkH,WA6B3BG,eACJ,SAAAA,IAAe,OAAA1L,OAAAe,EAAA,EAAAf,CAAAgB,KAAA0K,GAAA1L,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAA0L,GAAAjI,KAAAzC,KACP,yFAGAW,GACN,IAAImJ,EAAM,IAAIzG,IAAK0G,MAAM,QAAS,IAAKP,IAAmB,GACtDmB,EAAM,IAAItH,IAAK4G,OAAO,OAAQ,OAAQL,IACtCgB,EAAO,IAAIzI,EAAYnC,KAAKmK,OAAQ,QAASxJ,GACjD,OAAOA,EACJyJ,SAASN,GACTO,UAAUM,GACVL,WAAWM,UAZqBvH,IAAKkH,WAgBtCM,eACJ,SAAAA,IAAe,OAAA7L,OAAAe,EAAA,EAAAf,CAAAgB,KAAA6K,GAAA7L,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAA6L,GAAApI,KAAAzC,KACP,oFAGAW,GACN,IAAImJ,EAAM,IAAIzG,IAAK0G,MAAM,QAAS,IAAKL,IAAc,GACjDiB,EAAM,IAAItH,IAAK4G,OAAO,OAAQ,OAAQL,IACtCgB,EAAO,IAAIzI,EAAYnC,KAAKmK,OAAQ,SAAUxJ,GAClD,OAAOA,EACJyJ,SAASN,GACTO,UAAUM,GACVL,WAAWM,UAZgBvH,IAAKkH,WAgBjCO,eACJ,SAAAA,IAAe,OAAA9L,OAAAe,EAAA,EAAAf,CAAAgB,KAAA8K,GAAA9L,OAAAiB,EAAA,EAAAjB,CAAAgB,KAAAhB,OAAAkB,EAAA,EAAAlB,CAAA8L,GAAArI,KAAAzC,KACP,qFAGAW,GACN,IAAImJ,EAAM,IAAIzG,IAAK0G,MAAM,QAAS,IAAKJ,IACnCgB,EAAM,IAAItH,IAAK4G,OAAO,OAAQ,OAAQL,IACtCgB,EAAO,IAAIzI,EAAYnC,KAAKmK,OAAQ,SAAUxJ,GAClD,OAAOA,EACJyJ,SAASN,GACTO,UAAUM,GACVL,WAAWM,UAZiBvH,IAAKkH,kCClEzBQ,OArEf,SAAAxH,GAA2D,IACrDyH,EAAUC,EADGC,EAAwC3H,EAAxC2H,MAAOC,EAAiC5H,EAAjC4H,OAAQvL,EAAyB2D,EAAzB3D,MAAOD,EAAkB4D,EAAlB5D,MAAOyL,EAAW7H,EAAX6H,QAyD9C,OAtDAC,oBAAU,WACR,IAAIC,EAAI,IAAIC,YAAiBC,MAAM,CAAEC,YAAY,IAAQC,SAAS,IAClE/L,EAAMgM,QAAQ,SAASC,GACrBN,EAAEO,QAAQD,EAAGpK,KAAM,CAAEuG,MAAO6D,EAAGpK,SAEjC5B,EAAM+L,QAAQ,SAAAG,GACZ,IAAItK,EACF7B,EAAMmM,EAAK/E,QAAQvF,KACnB,IACA7B,EAAMmM,EAAKlI,QAAQpC,KACnB,IACAsK,EAAK5M,KACPoM,EAAES,QACApM,EAAMmM,EAAK/E,QAAQvF,KACnB7B,EAAMmM,EAAKlI,QAAQpC,KACnB,CAAEuG,MAAO+D,EAAK5M,KAAK4F,KAAK,MACxBtD,KAIJ8J,EAAE3L,QAAQgM,QAAQ,SAAS7I,GACzB,IAAInC,EAAO2K,EAAE3K,KAAKmC,GAClBnC,EAAKqL,GAAKrL,EAAKsL,GAAK,IAItB,IAAIC,EAAMC,UAAUnB,GAChBoB,EAAQD,UAAUlB,GAElBoB,EAAOF,UAAUG,GAAG,OAAQ,WAC9BF,EAAMG,KAAK,YAAaJ,SAASK,aAEnCN,EAAIzJ,KAAK4J,IAEI,IAAId,UAEjBkB,CAAOL,EAAOd,GAGdY,EAAIzJ,KACF4J,EAAKG,UACLL,gBACGO,WAAWR,EAAIK,KAAK,SAJN,GAIiBjB,EAAElM,QAAQ8L,OAAwB,EAAG,IACpEyB,MALc,KAQnBT,EAAIK,KAAK,SARU,GAQAjB,EAAElM,QAAQ+L,OAAwB,IAErDe,EAAIU,UAAU,mBAAmBN,GAAG,QAAS,SAAAxE,GAC3CwD,EAAE3L,QAAQgM,QAAQ,SAAA7I,GAAC,OAAIwI,EAAE3K,KAAKmC,GAAG+J,KAAKC,UAAUC,OAAO,cACvDzB,EAAE3K,KAAKmH,GAAI+E,KAAKC,UAAUE,IAAI,eAE/B,CAACpN,EAAOD,EAAOqL,EAAUC,EAAeG,IAGzCjK,EAAAC,EAAAC,cAAA,OACEC,UAAU,WACVkC,IAAK,SAAAyJ,GAAC,OAAKjC,EAAWiC,GACtB/B,MAAOA,EACPC,OAAQA,GAERhK,EAAAC,EAAAC,cAAA,KAAGmC,IAAK,SAAAyJ,GAAC,OAAKhC,EAAgBgC,OCjDrBzB,OAff,WACE,IAAMpM,EAAQ8N,YAAY,SAAArO,GAAK,OAAIA,EAAMQ,WAEzC,OACE8B,EAAAC,EAAAC,cAAA,WACEF,EAAAC,EAAAC,cAAC8L,GAAD,CACEvN,MAAOR,EAAMQ,MACbD,MAAOP,EAAMO,MACbuL,MAAM,MACNC,OAAO,UCCAiC,OATf,WACE,IAAMhO,EAAQ8N,YAAY,SAAArO,GAAK,OAAIA,EAAMa,wBAKzC,OAAOyB,EAAAC,EAAAC,cAAA,YAAUgM,KAAK,KAAKxK,SAAU,SAAAa,GAAC,OAHrB,SAACA,GAAD,OACf/E,EAAM2O,SAAS/D,GAAyB7F,EAAEE,OAAOpD,QAETqC,CAASa,IAAIlD,MAAOpB,KCM1DmO,GAAYC,YAAW,SAAAC,GAAK,MAAK,CACrCC,KAAM,CACJC,QAAS,QAEXC,QAAS,CACPC,aAAc,IAEhBC,YAAY9O,OAAAC,EAAA,EAAAD,CAAA,CACV2O,QAAS,OACTI,WAAY,SACZC,eAAgB,WAChBC,QAAS,SACNR,EAAMS,OAAON,SAElBO,OAAQ,CACNC,OAAQX,EAAMW,OAAOC,OAAS,EAC9BC,WAAYb,EAAMc,YAAYC,OAAO,CAAC,QAAS,UAAW,CACxDC,OAAQhB,EAAMc,YAAYE,OAAOC,MACjCC,SAAUlB,EAAMc,YAAYI,SAASC,iBAGzCC,YAAa,CACXC,WAxBgB,IAyBhB5D,MAAK,eAAA3J,OAzBW,IAyBX,OACL+M,WAAYb,EAAMc,YAAYC,OAAO,CAAC,QAAS,UAAW,CACxDC,OAAQhB,EAAMc,YAAYE,OAAOC,MACjCC,SAAUlB,EAAMc,YAAYI,SAASI,kBAGzCC,WAAY,CACVC,YAAa,IAEfC,iBAAkB,CAChBvB,QAAS,QAEXwB,MAAO,CACLC,SAAU,GAEZC,YAAa,CACXC,SAAU,WACVC,WAAY,SACZrE,MA3CgB,IA4ChBoD,WAAYb,EAAMc,YAAYC,OAAO,QAAS,CAC5CC,OAAQhB,EAAMc,YAAYE,OAAOC,MACjCC,SAAUlB,EAAMc,YAAYI,SAASI,kBAGzCS,iBAAiBxQ,OAAAyQ,EAAA,EAAAzQ,CAAA,CACf0Q,UAAW,SACXpB,WAAYb,EAAMc,YAAYC,OAAO,QAAS,CAC5CC,OAAQhB,EAAMc,YAAYE,OAAOC,MACjCC,SAAUlB,EAAMc,YAAYI,SAASC,gBAEvC1D,MAAOuC,EAAMkC,QAAQ,IACpBlC,EAAMmC,YAAYC,GAAG,MAAQ,CAC5B3E,MAAOuC,EAAMkC,QAAQ,KAGzBG,aAAcrC,EAAMS,OAAON,QAC3BmC,QAAS,CACPX,SAAU,EACVjE,OAAQ,QACR6E,SAAU,QAEZC,UAAW,CACTC,WAAYzC,EAAMkC,QAAQ,GAC1BQ,cAAe1C,EAAMkC,QAAQ,IAE/BS,MAAO,CACLnC,QAASR,EAAMkC,QAAQ,GACvBhC,QAAS,OACTqC,SAAU,OACVK,cAAe,UAEjBC,YAAa,CACXnF,OAAQ,WAkDGoF,OA9Cf,WACE,IAAMC,EAAUjD,KACVkD,EAAmBC,YAAKF,EAAQJ,MAAOI,EAAQF,aACrD,OACEnP,EAAAC,EAAAC,cAAA,OAAKC,UAAWkP,EAAQ9C,MACtBvM,EAAAC,EAAAC,cAACsP,EAAA,EAAD,MACAxP,EAAAC,EAAAC,cAACuP,EAAA,EAAD,CAAQtB,SAAS,WAAWhO,UAAWoP,YAAKF,EAAQrC,SAClDhN,EAAAC,EAAAC,cAACwP,EAAA,EAAD,CAASvP,UAAWkP,EAAQ5C,SAC1BzM,EAAAC,EAAAC,cAACyP,EAAA,EAAD,CACEpO,UAAU,KACVqO,QAAQ,KACRC,MAAM,UACNC,QAAM,EACN3P,UAAWkP,EAAQrB,OALrB,0BASAhO,EAAAC,EAAAC,cAAC6P,EAAA,EAAD,CAAYF,MAAM,cAGtB7P,EAAAC,EAAAC,cAAA,QAAMC,UAAWkP,EAAQT,SACvB5O,EAAAC,EAAAC,cAAA,OAAKC,UAAWkP,EAAQV,eACxB3O,EAAAC,EAAAC,cAAC8P,EAAA,EAAD,CAAWC,SAAS,KAAK9P,UAAWkP,EAAQP,WAC1C9O,EAAAC,EAAAC,cAACgQ,EAAA,EAAD,CAAMpB,WAAS,EAACN,QAAS,GACvBxO,EAAAC,EAAAC,cAACgQ,EAAA,EAAD,CAAMC,MAAI,EAACC,GAAI,GAAIC,GAAI,EAAGC,GAAI,GAC5BtQ,EAAAC,EAAAC,cAACqQ,EAAA,EAAD,CAAOpQ,UAAWmP,GAChBtP,EAAAC,EAAAC,cAAA,OAAKmC,IAAK,SAAAmO,GAAE,OJiCb,SAAe1B,GAAf,IAAA2B,EAAAzH,EAAA,OAAA0H,EAAAzQ,EAAA0Q,MAAA,SAAAC,GAAA,cAAAA,EAAAC,KAAAD,EAAApN,MAAA,OACTiN,EAAa,CACf,IAAI/H,GACJ,IAAIW,GACJ,IAAIC,GACJ,IAAIK,GACJ,IAAID,GACJ,IAAIH,KAGFP,EAAS,IAAI9G,IAAK4O,WAAW,wBAAyBhC,IACnDiC,IAAIC,KACXhI,EAAO+H,IAAIE,IAAmB,CAAE1P,UAAW7C,IAC3CsK,EAAO+H,IAAIG,KACXlI,EAAO+H,IAAII,KACXnI,EAAO+H,IAAIK,KAEXX,EAAWnQ,IAAI,SAAAwG,GAAC,OAAIkC,EAAOqI,SAASvK,KACpCkC,EAAOmC,GACL,sEACA,eAAAlN,EAAAC,EAAAK,EAAA,OAAAmS,EAAAzQ,EAAA0Q,MAAA,SAAAW,GAAA,cAAAA,EAAAT,KAAAS,EAAA9N,MAAA,OACE+N,QAAQC,IAAI,eACRvT,EAAQ+K,EAAOyI,SACnBF,QAAQC,IAAIvT,GACRC,EAAWyJ,GAAU1J,GACrBM,EAAwB+I,GAAuBrJ,GACnDT,EAAM2O,SAAShE,GAAajK,IAC5BV,EAAM2O,SAAS/D,GAAyB7J,IAP1C,wBAAA+S,EAAAI,YAWF1I,EAAO2I,SAAS1T,GAChB+K,EAAO4I,KAAKC,SACZ7I,EAAOnH,QAAQ,WACfiQ,WAAW,WACTX,IAAWY,OAAO/I,IACjB,KApCU,yBAAA4H,EAAAc,UIjCiBM,CAAKxB,QAGzBxQ,EAAAC,EAAAC,cAACgQ,EAAA,EAAD,CAAMC,MAAI,EAACC,GAAI,GAAIC,GAAI,EAAGC,GAAI,GAC5BtQ,EAAAC,EAAAC,cAACqQ,EAAA,EAAD,CAAOpQ,UAAWmP,GAChBtP,EAAAC,EAAAC,cAAC+R,GAAD,QAGJjS,EAAAC,EAAAC,cAACgQ,EAAA,EAAD,CAAMC,MAAI,EAACC,GAAI,IACbpQ,EAAAC,EAAAC,cAACqQ,EAAA,EAAD,CAAOpQ,UAAWkP,EAAQJ,OACxBjP,EAAAC,EAAAC,cAACgS,GAAD,gCC/HHC,GAAUC,eAaRC,GAXH,kBACVrS,EAAAC,EAAAC,cAAA,OAAKC,UAAU,OACbH,EAAAC,EAAAC,cAACoS,GAAA,EAAD,CAAQH,QAASA,IACfnS,EAAAC,EAAAC,cAACoS,GAAA,EAAD,KACEtS,EAAAC,EAAAC,cAACoS,GAAA,EAAD,CAAOC,KAAK,IAAIhR,UAAW6N,KAC3BpP,EAAAC,EAAAC,cAACoS,GAAA,EAAD,CAAOC,KAAK,0BAA0BhR,UAAW6N,SCArCoD,QACW,cAA7BC,OAAOC,SAASC,UAEe,UAA7BF,OAAOC,SAASC,UAEhBF,OAAOC,SAASC,SAASC,MACvB,kEAiHA,kBAAmBC,WACrBA,UAAUC,cAAcC,MAAMC,KAAK,SAAAC,GACjCA,EAAaC,eC3HjBC,IAAS7H,OACPtL,EAAAC,EAAAC,cAACkT,EAAA,EAAD,CAAU5V,MAAOA,GACfwC,EAAAC,EAAAC,cAACmT,GAAD,OAEFC,SAASC,eAAe","file":"static/js/main.a2e71a3f.chunk.js","sourcesContent":["import { createStore } from 'redux';\n\nconst initialState = {\n  editor_graph: {},\n  d3_graph: { nodes: [], edges: [] },\n  states_language_graph: {},\n};\n\nfunction updateState(state, action) {\n  let new_state = { ...state };\n  switch (action.type) {\n    case 'SET_EDITOR_GRAPH':\n      new_state.editor_graph = action.graph;\n      break;\n    case 'SET_D3_GRAPH':\n      new_state.d3_graph = action.graph;\n      break;\n    case 'SET_STATES_LANGUAGE_GRAPH':\n      let str = '';\n      if (typeof action.graph === 'string'){\n        str = action.graph;\n      }else{\n        str = JSON.stringify(action.graph, undefined, 2);\n      }\n      new_state.states_language_graph = str;\n      break;\n    default:\n      break;\n  }\n  return new_state;\n}\n\nlet store = createStore(updateState, initialState);\n\nexport default store;\n","import React from 'react';\nimport { Node, Socket, Control } from 'rete-react-render-plugin';\n\nexport class MyNode extends Node {\n  render() {\n    const { node, bindSocket, bindControl } = this.props;\n    const { outputs, controls, inputs, selected } = this.state;\n    return (\n      <div className={`node ${selected} ${node.name}`}>\n        <div className=\"title\">{node.name}</div>\n        {/* Inputs */}\n        {inputs.map(input => (\n          <div className=\"input\" key={input.key}>\n            <Socket\n              type=\"input\"\n              socket={input.socket}\n              io={input}\n              innerRef={bindSocket}\n            />\n            {!input.showControl() && (\n              <div className=\"input-title\">{input.name}</div>\n            )}\n            {input.showControl() && (\n              <Control\n                className=\"input-control\"\n                control={input.control}\n                innerRef={bindControl}\n              />\n            )}\n          </div>\n        ))}\n        {/* Controls */}\n        {controls.map(control => (\n          <Control\n            className=\"control\"\n            key={control.key}\n            control={control}\n            innerRef={bindControl}\n          />\n        ))}\n        {/* Outputs */}\n        {outputs.map(output => (\n          <div className=\"output\" key={output.key}>\n            <div className=\"output-title\">{output.name}</div>\n            <Socket\n              type=\"output\"\n              socket={output.socket}\n              io={output}\n              innerRef={bindSocket}\n            />\n          </div>\n        ))}\n      </div>\n    );\n  }\n}\n","import React from 'react';\nimport Rete from 'rete';\n\nclass TextControl extends Rete.Control {\n  static component = ({ value, onChange, placeholder }) => (\n    <input\n      value={value}\n      placeholder={placeholder}\n      ref={ref => {\n        ref && ref.addEventListener('pointerdown', e => e.stopPropagation());\n      }}\n      onChange={e => onChange(e.target.value)}\n    />\n  );\n\n  constructor(emitter, key, node, default_value = '', readonly = false) {\n    super(key);\n    this.emitter = emitter;\n    this.key = key;\n    this.component = TextControl.component;\n\n    const initial = node.data[key] || default_value;\n\n    node.data[key] = initial;\n    this.props = {\n      readonly,\n      value: initial,\n      onChange: v => {\n        this.setValue(v);\n        this.emitter.trigger('process');\n      },\n      placeholder: key,\n    };\n  }\n\n  setValue(val) {\n    this.props.value = val;\n    this.putData(this.key, val);\n    this.update();\n  }\n}\n\nclass IntegerControl extends Rete.Control {\n  static component = ({ value, onChange, placeholder }) => (\n    <input\n      type=\"number\"\n      value={value}\n      placeholder={placeholder}\n      ref={ref => {\n        ref && ref.addEventListener('pointerdown', e => e.stopPropagation());\n      }}\n      onChange={e => onChange(e.target.value)}\n    />\n  );\n\n  constructor(emitter, key, node, readonly = false) {\n    super(key);\n    this.emitter = emitter;\n    this.key = key;\n    this.component = IntegerControl.component;\n\n    const initial = node.data[key] || '';\n\n    node.data[key] = initial;\n    this.props = {\n      readonly,\n      value: initial,\n      onChange: v => {\n        this.setValue(v);\n        this.emitter.trigger('process');\n      },\n      placeholder: key\n    };\n  }\n\n  setValue(val) {\n    this.props.value = val;\n    this.putData(this.key, val);\n    this.update();\n  }\n}\n\nclass BooleanControl extends Rete.Control {\n  static component = ({ value, onChange, placeholder }) => (\n    <label><input\n      type=\"checkbox\"\n      value={placeholder}\n      checked={value}\n      ref={ref => {\n        ref && ref.addEventListener('pointerdown', e => e.stopPropagation());\n      }}\n      onChange={e => onChange(e.target.checked)}\n    />{placeholder}</label>\n  );\n\n  constructor(emitter, key, node, readonly = false) {\n    super(key);\n    this.emitter = emitter;\n    this.key = key;\n    this.component = BooleanControl.component;\n\n    const initial = node.data[key] || false;\n\n    node.data[key] = initial;\n    this.props = {\n      readonly,\n      value: initial,\n      onChange: v => {\n        this.setValue(v);\n        this.emitter.trigger('process');\n      },\n      placeholder: key\n    };\n  }\n\n  setValue(val) {\n    this.props.value = val;\n    this.putData(this.key, val);\n    this.update();\n  }\n}\n\nexport { TextControl, BooleanControl, IntegerControl }\n\n","const to_states_language = (nodes, edges) => {\n  return nodes.reduce((acc, node) => {\n    acc[node.data.name] = get_states_language_state(node, edges);\n    return acc;\n  }, {});\n};\n\nconst get_states_language_state = (node, edges) => {\n  switch (node.name) {\n    case 'Task':\n      return get_sl_task(node, edges);\n    case 'Wait':\n      return get_sl_wait(node, edges);\n    case 'Choice':\n      return get_sl_choice(node, edges);\n    default:\n      return {};\n  }\n};\n\nconst get_sl_task = (node, edges) => {\n  let next = get_transition_event(node, edges);\n  let t_e = next ? next.type.join(',') : '';\n  let catches = get_catches(node, edges).map(cat => ({\n    ErrorEquals: cat.type,\n    Next: cat.target.data.name,\n  }));\n  return {\n    Type: node.name,\n    Resource: node.data.resource,\n    TransitionEvent: t_e,\n    Catch: catches,\n    InputPath: node.data.input_path,\n    OutputPath: node.data.output_path,\n    ResourcePath: node.data.resource_path,\n    Next: next ? next.target.data.name : '',\n    End: node.data.is_end,\n  };\n};\n\nconst get_sl_choice = (node, edges) => {\n  let choices = get_choices(node, edges).map(choice => ({\n    StringEquals: choice.type.join(','),\n    Next: choice.target.data.name,\n  }));\n  return {\n    Type: node.name,\n    Resource: node.data.resource,\n    Choices: choices,\n    InputPath: node.data.input_path,\n    OutputPath: node.data.output_path,\n  };\n};\n\nconst get_sl_wait = (node, edges) => {\n  let next = get_transition_event(node, edges);\n  let t_e = next ? next.type.join(',') : '';\n  let res = {\n    Type: node.name,\n    TransitionEvent: t_e,\n    Next: next ? next.target.data.name : '',\n    End: node.data.is_end,\n  };\n  if (node.data.seconds) res['Seconds'] = parseInt(node.data.seconds);\n  if (node.data.timestamp) res['Timestamp'] = node.data.timestamp;\n  if (node.data.timestamp_path) res['TimestampPath'] = node.data.timestamp_path;\n  if (node.data.seconds_path) res['SecondsPath'] = node.data.seconds_path;\n  return res;\n};\n\nconst get_catches = (node, edges) =>\n  edges.filter(edge => is_catch_event(edge, node));\n\nconst is_catch_event = (edge, node) =>\n  edge.source.data.name === node.data.name && edge.event.name === 'CatchEvent';\n\nconst get_choices = (node, edges) =>\n  edges.filter(edge => is_choice_event(edge, node));\n\nconst is_choice_event = (edge, node) =>\n  edge.source.data.name === node.data.name && edge.event.name === 'ChoiceEvent';\n\nconst get_transition_event = (node, edges) =>\n  edges.find(edge => is_trans_event(edge, node));\n\nconst is_trans_event = (edge, node) =>\n  edge.source.data.name === node.data.name &&\n  edge.event.name === 'TransitionEvent';\n\nconst graph_list = graph =>\n  Object.keys(graph.nodes).map(key => graph.nodes[key]);\n\nconst graph_states = graph_list =>\n  graph_list.filter(node => !node.name.endsWith('Event'));\n\nconst graph_edges = (graph_states, graph) =>\n  graph_states.flatMap(node => get_node_edges(node, graph));\n\nconst to_d3_nodes = (state_nodes, i = 0) =>\n  state_nodes.map(node => {\n    return { id: i++, label: node.name, name: node.data.name };\n  });\n\nconst get_node_edges = (node, graph, nodes) =>\n  Object.keys(node.outputs).flatMap(key =>\n    get_node_outputs(key, node, graph, nodes)\n  );\n\nconst to_d3_edges = (graph_edges, nodes) =>\n  graph_edges.map(edge => {\n    let target = get_node_index(edge.target.data.name, nodes);\n    let source = get_node_index(edge.source.data.name, nodes);\n    return {\n      source: source,\n      target: target,\n      type: edge.type,\n    };\n  });\n\nexport function editor_states_language(graph) {\n  let n = graph_list(graph);\n  let state_nodes = graph_states(n);\n  let state_edges = graph_edges(state_nodes, graph);\n  return {\n    StartAt: 'Test',\n    States: to_states_language(state_nodes, state_edges),\n  };\n}\n\nexport function editor_d3(graph) {\n  let n = graph_list(graph);\n  let state_nodes = graph_states(n);\n  let nodes = to_d3_nodes(state_nodes);\n  let state_edges = graph_edges(state_nodes, graph);\n  let edges = to_d3_edges(state_edges, nodes);\n  return { nodes: nodes, edges: edges };\n}\n\nfunction get_node_outputs(key, node, graph) {\n  let conns = node.outputs[key].connections;\n  return conns.reduce((acc, c) => {\n    let event = graph.nodes[c.node.toString()];\n    if (event.outputs.next.connections.length > 0) {\n      let target_id = event.outputs.next.connections[0].node.toString();\n      let target = graph.nodes[target_id];\n      acc.push({\n        source: node,\n        target: target,\n        event: event,\n        type: get_event_name(event),\n      });\n    }\n    return acc;\n  }, []);\n}\n\nfunction get_event_name(event) {\n  var name = '';\n  if (event.data.errors) {\n    name = event.data.errors;\n  } else if (event.data.event) {\n    name = event.data.event;\n  } else if (event.data.events) {\n    name = event.data.events;\n  }\n\n  return name.split(',').map(n => n.trim());\n}\n\nfunction get_node_index(name, nodes) {\n  return nodes.findIndex(n => n.name === name);\n}\n","const SET_D3_GRAPH = 'SET_D3_GRAPH';\nconst SET_EDITOR_GRAPH = 'SET_EDITOR_GRAPH';\nconst SET_STATES_LANGUAGE_GRAPH = 'SET_STATES_LANGUAGE_GRAPH';\n\nexport function doSetD3Graph(graph) {\n  return { type: SET_D3_GRAPH, graph: graph };\n}\n\nexport function doSetEditorGraph(graph) {\n  return { type: SET_EDITOR_GRAPH, graph: graph };\n}\n\nexport function doSetStatesLanguageGraph(graph) {\n  return { type: SET_STATES_LANGUAGE_GRAPH, graph: graph };\n}\n","import Rete from 'rete';\nimport ReactRenderPlugin from 'rete-react-render-plugin';\nimport ConnectionPlugin from 'rete-connection-plugin';\nimport ContextMenuPlugin from 'rete-context-menu-plugin';\nimport AreaPlugin from 'rete-area-plugin';\nimport MinimapPlugin from 'rete-minimap-plugin';\nimport { MyNode } from './Node';\nimport { TextControl, BooleanControl, IntegerControl } from './Control';\nimport graph from './test.json';\nimport { editor_d3, editor_states_language } from './parser';\nimport { doSetD3Graph, doSetStatesLanguageGraph } from './actions';\nimport store from './store';\n\nvar transition_socket = new Rete.Socket('Transition Event');\nvar catch_socket = new Rete.Socket('Catch Event');\nvar choice_socket = new Rete.Socket('Choice Event');\nvar next_socket = new Rete.Socket('Next');\n\nclass TaskComponent extends Rete.Component {\n  constructor() {\n    super('Task');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('start', 'Start', next_socket, true);\n    var te = new Rete.Output(\n      'transition_event',\n      'Transition Event',\n      transition_socket\n    );\n    var ce = new Rete.Output('catch_events', 'Catch Events', catch_socket);\n    var name = new TextControl(this.editor, 'name', node);\n    var resource = new TextControl(this.editor, 'resource', node);\n    var input_path = new TextControl(this.editor, 'input_path', node, '$');\n    var resource_path = new TextControl(\n      this.editor,\n      'resource_path',\n      node,\n      '$'\n    );\n    var output_path = new TextControl(this.editor, 'output_path', node, '$');\n    var is_end = new BooleanControl(this.editor, 'is_end', node);\n    return node\n      .addInput(inp)\n      .addOutput(te)\n      .addOutput(ce)\n      .addControl(name)\n      .addControl(resource)\n      .addControl(input_path)\n      .addControl(resource_path)\n      .addControl(output_path)\n      .addControl(is_end);\n  }\n}\n\nclass ChoiceComponent extends Rete.Component {\n  constructor() {\n    super('Choice');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('start', 'Start', next_socket, true);\n    var ce = new Rete.Output('choice_events', 'Choice Events', choice_socket);\n    var resource = new TextControl(this.editor, 'resource', node);\n    var name = new TextControl(this.editor, 'name', node);\n    var input_path = new TextControl(this.editor, 'input_path', node, '$');\n    var output_path = new TextControl(this.editor, 'output_path', node, '$');\n\n    return node\n      .addInput(inp)\n      .addOutput(ce)\n      .addControl(name)\n      .addControl(resource)\n      .addControl(input_path)\n      .addControl(output_path);\n  }\n}\n\nclass WaitComponent extends Rete.Component {\n  constructor() {\n    super('Wait');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('start', 'Start', next_socket, true);\n    var te = new Rete.Output(\n      'transition_event',\n      'Transition Event',\n      transition_socket\n    );\n    var name = new TextControl(this.editor, 'name', node);\n    var seconds = new IntegerControl(this.editor, 'seconds', node);\n    var timestamp = new TextControl(this.editor, 'timestamp', node);\n    var seconds_path = new TextControl(this.editor, 'seconds_path', node);\n    var timestamp_path = new TextControl(this.editor, 'timestamp_path', node);\n    var is_end = new BooleanControl(this.editor, 'is_end', node);\n    return node\n      .addInput(inp)\n      .addOutput(te)\n      .addControl(name)\n      .addControl(seconds)\n      .addControl(timestamp)\n      .addControl(seconds_path)\n      .addControl(timestamp_path)\n      .addControl(is_end);\n  }\n}\nclass TransitionEventComponent extends Rete.Component {\n  constructor() {\n    super('TransitionEvent');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('event', '=', transition_socket, true);\n    var out = new Rete.Output('next', 'Next', next_socket);\n    var ctrl = new TextControl(this.editor, 'event', node);\n    return node\n      .addInput(inp)\n      .addOutput(out)\n      .addControl(ctrl);\n  }\n}\n\nclass CatchEventComponent extends Rete.Component {\n  constructor() {\n    super('CatchEvent');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('event', '=', catch_socket, true);\n    var out = new Rete.Output('next', 'Next', next_socket);\n    var ctrl = new TextControl(this.editor, 'errors', node);\n    return node\n      .addInput(inp)\n      .addOutput(out)\n      .addControl(ctrl);\n  }\n}\n\nclass ChoiceEventComponent extends Rete.Component {\n  constructor() {\n    super('ChoiceEvent');\n  }\n\n  builder(node) {\n    var inp = new Rete.Input('event', '=', choice_socket);\n    var out = new Rete.Output('next', 'Next', next_socket);\n    var ctrl = new TextControl(this.editor, 'events', node);\n    return node\n      .addInput(inp)\n      .addOutput(out)\n      .addControl(ctrl);\n  }\n}\n\nexport default async function(container) {\n  var components = [\n    new TaskComponent(),\n    new ChoiceComponent(),\n    new WaitComponent(),\n    new ChoiceEventComponent(),\n    new CatchEventComponent(),\n    new TransitionEventComponent(),\n  ];\n\n  var editor = new Rete.NodeEditor('states-language@0.1.0', container);\n  editor.use(ConnectionPlugin);\n  editor.use(ReactRenderPlugin, { component: MyNode });\n  editor.use(ContextMenuPlugin);\n  editor.use(AreaPlugin);\n  editor.use(MinimapPlugin);\n\n  components.map(c => editor.register(c));\n  editor.on(\n    'process nodecreated noderemoved connectioncreated connectionremoved',\n    async () => {\n      console.log('| Process |');\n      let graph = editor.toJSON();\n      console.log(graph);\n      let d3_graph = editor_d3(graph);\n      let states_language_graph = editor_states_language(graph);\n      store.dispatch(doSetD3Graph(d3_graph));\n      store.dispatch(doSetStatesLanguageGraph(states_language_graph));\n    }\n  );\n\n  editor.fromJSON(graph);\n  editor.view.resize();\n  editor.trigger('process');\n  setTimeout(function() {\n    AreaPlugin.zoomAt(editor);\n  }, 200);\n}\n","import React, { useEffect } from 'react';\nimport * as dagreD3 from 'dagre-d3';\nimport * as d3 from 'd3';\n\nfunction DagreD3({ width, height, edges, nodes, onClick }) {\n  let nodeTree, nodeTreeGroup;\n\n  useEffect(() => {\n    let g = new dagreD3.graphlib.Graph({ multigraph: true }).setGraph({});\n    nodes.forEach(function(st) {\n      g.setNode(st.name, { label: st.name });\n    });\n    edges.forEach(link => {\n      let name =\n        nodes[link.source].name +\n        '-' +\n        nodes[link.target].name +\n        '-' +\n        link.type;\n      g.setEdge(\n        nodes[link.source].name,\n        nodes[link.target].name,\n        { label: link.type.join(',') },\n        name\n      );\n    });\n\n    g.nodes().forEach(function(v) {\n      var node = g.node(v);\n      node.rx = node.ry = 5;\n    });\n\n    // Set up an SVG group so that we can translate the final graph.\n    let svg = d3.select(nodeTree);\n    let inner = d3.select(nodeTreeGroup);\n\n    var zoom = d3.zoom().on('zoom', function() {\n      inner.attr('transform', d3.event.transform);\n    });\n    svg.call(zoom);\n\n    var render = new dagreD3.render();\n\n    render(inner, g);\n\n    var initialScale = 0.8;\n    svg.call(\n      zoom.transform,\n      d3.zoomIdentity\n        .translate((svg.attr('width') - g.graph().width * initialScale) / 2, 20)\n        .scale(initialScale)\n    );\n\n    svg.attr('height', g.graph().height * initialScale + 20);\n\n    svg.selectAll('.dagre-d3 .node').on('click', id => {\n      g.nodes().forEach(v => g.node(v).elem.classList.remove('selected'));\n      g.node(id).elem.classList.add('selected');\n    });\n  }, [edges, nodes, nodeTree, nodeTreeGroup, onClick]);\n\n  return (\n    <svg\n      className=\"dagre-d3\"\n      ref={r => (nodeTree = r)}\n      width={width}\n      height={height}\n    >\n      <g ref={r => (nodeTreeGroup = r)} />\n    </svg>\n  );\n}\n\nexport default DagreD3;\n","import React from 'react';\nimport { useSelector } from 'react-redux';\nimport DagreD3 from './DagreD3React';\n\nfunction Graph() {\n  const graph = useSelector(state => state.d3_graph);\n\n  return (\n    <div>\n      <DagreD3\n        edges={graph.edges}\n        nodes={graph.nodes}\n        width=\"300\"\n        height=\"100\"\n      />\n    </div>\n  );\n}\n\nexport default Graph;\n","import React from 'react';\nimport { useSelector } from 'react-redux';\nimport { doSetStatesLanguageGraph } from './actions';\nimport store from './store';\n\nfunction JSONDisplay() {\n  const graph = useSelector(state => state.states_language_graph);\n\n  const onChange = (e) =>\n    store.dispatch(doSetStatesLanguageGraph(e.target.value));\n\n  return <textarea rows=\"50\" onChange={e => onChange(e)} value={graph} />;\n}\n\nexport default JSONDisplay;\n","import React from 'react';\nimport clsx from 'clsx';\nimport { makeStyles } from '@material-ui/core/styles';\nimport CssBaseline from '@material-ui/core/CssBaseline';\nimport AppBar from '@material-ui/core/AppBar';\nimport Toolbar from '@material-ui/core/Toolbar';\nimport Typography from '@material-ui/core/Typography';\nimport IconButton from '@material-ui/core/IconButton';\nimport Container from '@material-ui/core/Container';\nimport Grid from '@material-ui/core/Grid';\nimport Paper from '@material-ui/core/Paper';\nimport init from './editor';\nimport Graph from './Graph';\nimport JSONDisplay from './JSONDisplay';\n\nconst drawerWidth = 240;\n\nconst useStyles = makeStyles(theme => ({\n  root: {\n    display: 'flex',\n  },\n  toolbar: {\n    paddingRight: 24, // keep right padding when drawer closed\n  },\n  toolbarIcon: {\n    display: 'flex',\n    alignItems: 'center',\n    justifyContent: 'flex-end',\n    padding: '0 8px',\n    ...theme.mixins.toolbar,\n  },\n  appBar: {\n    zIndex: theme.zIndex.drawer + 1,\n    transition: theme.transitions.create(['width', 'margin'], {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.leavingScreen,\n    }),\n  },\n  appBarShift: {\n    marginLeft: drawerWidth,\n    width: `calc(100% - ${drawerWidth}px)`,\n    transition: theme.transitions.create(['width', 'margin'], {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.enteringScreen,\n    }),\n  },\n  menuButton: {\n    marginRight: 36,\n  },\n  menuButtonHidden: {\n    display: 'none',\n  },\n  title: {\n    flexGrow: 1,\n  },\n  drawerPaper: {\n    position: 'relative',\n    whiteSpace: 'nowrap',\n    width: drawerWidth,\n    transition: theme.transitions.create('width', {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.enteringScreen,\n    }),\n  },\n  drawerPaperClose: {\n    overflowX: 'hidden',\n    transition: theme.transitions.create('width', {\n      easing: theme.transitions.easing.sharp,\n      duration: theme.transitions.duration.leavingScreen,\n    }),\n    width: theme.spacing(7),\n    [theme.breakpoints.up('sm')]: {\n      width: theme.spacing(9),\n    },\n  },\n  appBarSpacer: theme.mixins.toolbar,\n  content: {\n    flexGrow: 1,\n    height: '100vh',\n    overflow: 'auto',\n  },\n  container: {\n    paddingTop: theme.spacing(4),\n    paddingBottom: theme.spacing(4),\n  },\n  paper: {\n    padding: theme.spacing(2),\n    display: 'flex',\n    overflow: 'auto',\n    flexDirection: 'column',\n  },\n  fixedHeight: {\n    height: '70vh',\n  },\n}));\n\nfunction Homepage() {\n  const classes = useStyles();\n  const fixedHeightPaper = clsx(classes.paper, classes.fixedHeight);\n  return (\n    <div className={classes.root}>\n      <CssBaseline />\n      <AppBar position=\"absolute\" className={clsx(classes.appBar)}>\n        <Toolbar className={classes.toolbar}>\n          <Typography\n            component=\"h1\"\n            variant=\"h6\"\n            color=\"inherit\"\n            noWrap\n            className={classes.title}\n          >\n            States Language Editor\n          </Typography>\n          <IconButton color=\"inherit\"></IconButton>\n        </Toolbar>\n      </AppBar>\n      <main className={classes.content}>\n        <div className={classes.appBarSpacer} />\n        <Container maxWidth=\"xl\" className={classes.container}>\n          <Grid container spacing={3}>\n            <Grid item xs={12} md={8} lg={8}>\n              <Paper className={fixedHeightPaper}>\n                <div ref={el => init(el)} />\n              </Paper>\n            </Grid>\n            <Grid item xs={12} md={4} lg={4}>\n              <Paper className={fixedHeightPaper}>\n                <Graph />\n              </Paper>\n            </Grid>\n            <Grid item xs={12}>\n              <Paper className={classes.paper}>\n                <JSONDisplay />\n              </Paper>\n            </Grid>\n          </Grid>\n        </Container>\n      </main>\n    </div>\n  );\n}\n\nexport default Homepage;\n","import React from 'react';\nimport Homepage from './Homepage.js';\nimport { Switch, Route, Router } from 'react-router-dom';\nimport { createBrowserHistory } from 'history';\n\nexport const history = createBrowserHistory();\n\nconst App = () => (\n  <div className=\"App\">\n    <Router history={history}>\n      <Switch>\n        <Route path=\"/\" component={Homepage} />\n        <Route path=\"/states-language-editor\" component={Homepage} />\n      </Switch>\n    </Router>\n  </div>\n);\n\nexport default App;\n","// This optional code is used to register a service worker.\n// register() is not called by default.\n\n// This lets the app load faster on subsequent visits in production, and gives\n// it offline capabilities. However, it also means that developers (and users)\n// will only see deployed updates on subsequent visits to a page, after all the\n// existing tabs open on the page have been closed, since previously cached\n// resources are updated in the background.\n\n// To learn more about the benefits of this model and instructions on how to\n// opt-in, read https://bit.ly/CRA-PWA\n\nconst isLocalhost = Boolean(\n  window.location.hostname === 'localhost' ||\n    // [::1] is the IPv6 localhost address.\n    window.location.hostname === '[::1]' ||\n    // 127.0.0.0/8 are considered localhost for IPv4.\n    window.location.hostname.match(\n      /^127(?:\\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/\n    )\n);\n\nexport function register(config) {\n  if (process.env.NODE_ENV === 'production' && 'serviceWorker' in navigator) {\n    // The URL constructor is available in all browsers that support SW.\n    const publicUrl = new URL(process.env.PUBLIC_URL, window.location.href);\n    if (publicUrl.origin !== window.location.origin) {\n      // Our service worker won't work if PUBLIC_URL is on a different origin\n      // from what our page is served on. This might happen if a CDN is used to\n      // serve assets; see https://github.com/facebook/create-react-app/issues/2374\n      return;\n    }\n\n    window.addEventListener('load', () => {\n      const swUrl = `${process.env.PUBLIC_URL}/service-worker.js`;\n\n      if (isLocalhost) {\n        // This is running on localhost. Let's check if a service worker still exists or not.\n        checkValidServiceWorker(swUrl, config);\n\n        // Add some additional logging to localhost, pointing developers to the\n        // service worker/PWA documentation.\n        navigator.serviceWorker.ready.then(() => {\n          console.log(\n            'This web app is being served cache-first by a service ' +\n              'worker. To learn more, visit https://bit.ly/CRA-PWA'\n          );\n        });\n      } else {\n        // Is not localhost. Just register service worker\n        registerValidSW(swUrl, config);\n      }\n    });\n  }\n}\n\nfunction registerValidSW(swUrl, config) {\n  navigator.serviceWorker\n    .register(swUrl)\n    .then(registration => {\n      registration.onupdatefound = () => {\n        const installingWorker = registration.installing;\n        if (installingWorker == null) {\n          return;\n        }\n        installingWorker.onstatechange = () => {\n          if (installingWorker.state === 'installed') {\n            if (navigator.serviceWorker.controller) {\n              // At this point, the updated precached content has been fetched,\n              // but the previous service worker will still serve the older\n              // content until all client tabs are closed.\n              console.log(\n                'New content is available and will be used when all ' +\n                  'tabs for this page are closed. See https://bit.ly/CRA-PWA.'\n              );\n\n              // Execute callback\n              if (config && config.onUpdate) {\n                config.onUpdate(registration);\n              }\n            } else {\n              // At this point, everything has been precached.\n              // It's the perfect time to display a\n              // \"Content is cached for offline use.\" message.\n              console.log('Content is cached for offline use.');\n\n              // Execute callback\n              if (config && config.onSuccess) {\n                config.onSuccess(registration);\n              }\n            }\n          }\n        };\n      };\n    })\n    .catch(error => {\n      console.error('Error during service worker registration:', error);\n    });\n}\n\nfunction checkValidServiceWorker(swUrl, config) {\n  // Check if the service worker can be found. If it can't reload the page.\n  fetch(swUrl, {\n    headers: { 'Service-Worker': 'script' }\n  })\n    .then(response => {\n      // Ensure service worker exists, and that we really are getting a JS file.\n      const contentType = response.headers.get('content-type');\n      if (\n        response.status === 404 ||\n        (contentType != null && contentType.indexOf('javascript') === -1)\n      ) {\n        // No service worker found. Probably a different app. Reload the page.\n        navigator.serviceWorker.ready.then(registration => {\n          registration.unregister().then(() => {\n            window.location.reload();\n          });\n        });\n      } else {\n        // Service worker found. Proceed as normal.\n        registerValidSW(swUrl, config);\n      }\n    })\n    .catch(() => {\n      console.log(\n        'No internet connection found. App is running in offline mode.'\n      );\n    });\n}\n\nexport function unregister() {\n  if ('serviceWorker' in navigator) {\n    navigator.serviceWorker.ready.then(registration => {\n      registration.unregister();\n    });\n  }\n}\n","import React from 'react';\nimport ReactDOM from 'react-dom';\nimport { Provider } from 'react-redux';\nimport store from './store';\nimport App from './App';\nimport * as serviceWorker from './serviceWorker';\n\nimport './styles.css';\n\nconst do_render = () =>\n  ReactDOM.render(\n    <Provider store={store}>\n      <App />\n    </Provider>,\n    document.getElementById('root')\n  );\n\n// If you want your app to work offline and load faster, you can change\n// unregister() to register() below. Note this comes with some pitfalls.\n// Learn more about service workers: https://bit.ly/CRA-PWA\nserviceWorker.unregister();\n\ndo_render();\n"],"sourceRoot":""}